{{ $split_char := " " }}

<script>
    $(document).ready(function () {
        $('.facet-checkbox').change(function () {
            filterItems();
            updateFacetCount();
        });

        updateFacetCount();
    });

    function filterItems() {
        // Create helper with {groupname:facets[]}
        let selectedGroups = getSelectedGroups();

        // Show all items
        getAllArticles().each(function () {
            $(this).show();
        });

        // Hide those without the right facets
        // The logic is as follow
        // We loop through all selected groups, as we dont want to filter on non-selected groups
        // Then we get all articles and loop through their facets
        // If none of them match any filters within the group, hide it.

        // Loop through all groups
        $.each(selectedGroups, function (groupName, selectedFacets) {
            // Get all articles
            getAllArticles().each(function () {
                // Loop through their facets
                var facets_on_article = getFacetsOnArticle(this);
                if (!anyFacetMatches(facets_on_article, selectedFacets)) {
                    $(this).hide();
                }
            })
        })
    }

    function updateFacetCount() {
        // Create helper with {groupname:facets[]} for all groups
        let groups = {};
        $('.facet-group').each(function () {
            let group_name = $(this).attr('data-facet-group');
            groups[group_name] = [];
            $(this).find('input:checkbox').each(function () {
                groups[group_name].push(this.id);
            })
        });

        // Loop through all groups so we can handle their facets
        $.each(groups, function (groupName, facets) {
            let articles = getAllArticles();

            // Remove articles which are selected/filtered through other selected groups
            $.each(getSelectedGroups(), function (selectedGroupName, selectedFacets) {

                // skip our own group, because other facets within this group don't filter. (OR logic within groups) 
                if (groupName == selectedGroupName) {
                    return true;
                }

                // filter all articles matching the selected facets
                articles = articles.filter(function () {
                    return anyFacetMatches(getFacetsOnArticle(this), selectedFacets);
                });
            })

            // Loop through all facets within this group so we can update their count
            $(facets).each(function (facet_index) {
                // Calculate the matching articles for this facet
                let facet = facets[facet_index];
                let facetCount = articles.filter(function () {
                    return anyFacetMatches(getFacetsOnArticle(this), [facet]);
                }).length;

                // Update the label according to the count
                let facetCheckbox = $('#' + facet);
                let facetLabel = facetCheckbox.attr('name');
                let facetLabelWithCount = facetLabel + ' (' + facetCount + ')';
                facetCheckbox.text(facetLabelWithCount);
                $('label[for="' + facet + '"]').text(facetLabelWithCount);
            });
        });
    }

    function getAllArticles() {
        return $('.algoprudence-article');
    }

    function getFacetsOnArticle(article) {
        return $(article).attr('data-facets').split('{{$split_char}}');
    }

    function anyFacetMatches(facetsA, facetsB) {
        return $(facetsA).is(function (index_facet_a) {
            let facet_a = facetsA[index_facet_a];
            return $(facetsB).is(function (index_facet_b) {
                let facet_b = facetsB[index_facet_b];

                // Check if they match
                return facet_b == facet_a;
            });

        })
    }

    function getSelectedGroups() {
        let selectedGroups = {};
        $('.facet-group').each(function () {
            // Atleast one element is checked
            if ($(this).find('input:checkbox:checked').length > 0) {
                let group_name = $(this).attr('data-facet-group');
                selectedGroups[group_name] = [];
                $(this).find('input:checkbox:checked').each(function () {
                    selectedGroups[group_name].push(this.id);
                })
            }
        });
        return selectedGroups;
    }
</script>