{{ define "main" }}

<!-- checking blog -->
{{ if or (or (eq .Section "post") (eq .Section "knowledge-base")) (or (eq .Section "categories") (eq .Section "tags")
)}}

<section class="section">
  <div class="container" style="padding-top: 150px;">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid w-100 rounded mb-4"
          style='height: 276px; width: 420px; object-fit: contain'>
        <h2 class="mb-4" style="color: #005aa7;">{{ .Title }}</h2>
        <div class="content">{{.Content}}</div>

        <!-- comments -->
        {{ if site.DisqusShortname }}
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
{{ partial "page-header.html" . }}
<section class="section">
  <div class="container container-xl">
    <div class="row">
      {{ if .Params.quick_navigation.links }}
      <div class="col-lg-2 col-12 mx-auto">
        <div class="content quicklinks-mobile-sticky-top">
          <div class="container-fluid mt-5 p-0">
            <h3>{{.Params.quick_navigation.title}}</h3>
            <ul>
              {{ range .Params.quick_navigation.links }}
                {{ range $index, $num := (seq .indent) }}
                  <div class="ml-4">
                {{ end }}
                  <li class="quick_navigation_li d-flex align-items-center mb-0">
                    <a href='{{.url}}' class="highlight-potential-sm d-inline-block ml-3">
                      {{.title}}
                    </a>
                  </li>
                {{ range $index, $num := (seq .indent) }}
                  </div>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-lg-8 col-12 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
      <div class="col-lg-2 col-12"></div>
      {{ else }}
      <div class="col-12 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}


{{ end }}