body {
  position: relative
}

.nav-up {
  top: -75px;
}

.a {
  text-decoration: none;
}

input[type="file"] {
  display: none;
}

.file-upload {
  border: 1px dashed #005AA7;
  border-radius: 10px; 
  background-color: rgb(222, 236, 247);
  cursor: pointer;
  display: flex;
  height: 125px;
  justify-content: center;
  align-items: center;
}

.checkbox {
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

input[type="checkbox"] {
  accent-color: #005AA7;
}

.form-group{
  display:flex; 
  align-items: center;
  label{
    margin-left: 10px;
    color: #005AA7; 
    font-size: 15px;
  }
}

// view >992px
@media (min-width: 992px) {
  .margin-banner-image {
    width:85%;
    margin-top:50px;
  }
  #page-header-illustration {
    width: 65%; margin-left:auto; margin-right:auto;
  }
  .mobile{
    display: none;
  }
  .img-action{
    padding: 0px;
  }
  #img-gif{
    width: 75%;
  }
  #movie-div{
    margin-top:200px;
  }
  .shadow{
    box-shadow: 0 12px 24px -6px rgba(45,67,121,.10) !important;
  }
  .mobile-desktop-container-layout {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    // gradient
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to left, #ffcbbd, #fffde4);
    border-image-slice: 1;
    width:100%;
  }
  .mobile-desktop-container-layout-web-app {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    // gradient
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to left, #ffcbbd, #fffde4);
    border-image-slice: 1;
    width:100%;
  }
  .promobar-mobile-desktop-layout{
    height: 50px;
    align-items: center;
    justify-content: center;
  }
  .form-mobile-desktop-layout{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.img-center {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.img-event{
  max-height: 140px;
  @media (max-width: 992px) {
    max-height:120px;
  }
}
// view ≤992px
@media (max-width: 992px) {
  .margin-banner-image {
    width:70%;
    margin-top:50px;
  }
  .sponsor {
    margin-top: 50px;
  }
  #img-full {
    margin: 50px 0;
  }
  .mobile-footer-distance{
    margin-top: 10px;
  }
  .desktop{
    display: none;
  }
  .img-action{
    height:100px;
    padding: 15px;
    margin: 20px 0px;
  }
  #img-gif{
    width: 100%;
  }
  #movie-div{
    margin-top:100px;
  }
  .shadow{
    box-shadow: 0px 0px 0px 0px #fff !important;
  }
  .mobile-desktop-container-layout{
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;

    // gradient
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to left, #ffcbbd, #fffde4);
    border-image-slice: 1;
    width:100%;
  }
  .mobile-desktop-container-layout-web-app{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    // gradient
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to left, #ffcbbd, #fffde4);
    border-image-slice: 1;
    width:100%;
  }
  .promobar-mobile-desktop-layout{
    height: 100px;
  }
  .mobile-desktop-margin{
    padding-top: 3rem;
  }
  .form-mobile-desktop-layout{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

// view ≥768px (md and lg)
@media (min-width: 768px) {
  .show-mobile {
    visibility: hidden;
    height:0px;
  }
  #page-header-illustration {
    // width: 95%; 
    margin-left:auto; 
    margin-right:auto;
  }
  .motto{
    padding: 0px 10%;
    margin-top:10px;
  }
  .img-wrapper{
    width: 100%;
    margin: 0 auto;
  }
}

// view <768px
@media (max-width: 768px) {
  .inner{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  .margin-banner-image {
    width:90%;
    margin-top:50px;
  }
  .img-prop{
    height:50px;
  }
  .hide-mobile {
    visibility: hidden;
    height:0px;
  }
  .show-mobile-height{
    height:290px;
  }
  .motto{
    padding: 0px;
    margin: 20px 0px 0px 0px;
  }
  .logo{
    margin: 20px 0px 60px 0px;
  }
  #desktop-slogan{
    display: none;
  }
}

// view ≥576px
@media (min-width: 576px) {
.img-prop{
  height:75px;
}
}

// view xs <576px
@media (max-width: 576px) {
  .img-prop{
    height:50px;
  }
  .margin-slack{
    margin-top: 20px;
  }
  .padding-adjust{
    padding-bottom:0px;
  }
  .mobile-footer{
    padding: 0px 10px;
  }
  .motto{
    margin-top:20px;
  }
  .col-xs-6 {
    width: 50% !important;
  }
}

// view <480px
@media (max-width: 480px) {

}

.feature-card {
  border-radius: 10px;
  padding: 20px;
  transition: .2s ease;
  background-color: $white;

  &:hover {
    @extend .shadow;
  }

  svg,i {
    font-size: 30px;
    color: $primary-color;
    display: inline-block;
  }
}

.feature-card-transparent {
  border-radius: 10px;
  padding: 20px;
  transition: .2s ease;

  &:hover {
    @extend .shadow;
  }

  svg,i {
    font-size: 30px;
    color: $primary-color;
    display: inline-block;
  }
}

.border-left-blue{
  border-left: 1px solid #005AA7;
}

.border-left-white{
  border-left: 1px solid #ffffff;
}

.border-top-blue{
  border-top: 1px solid #005AA7;
  padding-top: 25px;
}

.footer-list a {
  display: inline;
  padding: 5px 0;
  font-size: 16px;
  color: #005aa7;
  margin: 8px 0;

  &:hover {
    color: #005aa7;
  }
}

.border-gradient2 {
  border-bottom:5px solid #c4268c;
  position:relative;
}
.border-gradient2:first-child:before {
  content:'';
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to left, #618EC7, #fffde4);
  bottom:-5px;
}

.img-wrapper{
  width: 75%;
  margin: 0 auto;
}

.custom_div_parent {
  position: relative;
}

.social-icons{
  position:relative;
}

.inner{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.section-subtitle{
  font-size:16px;
  padding:0px;
  margin: 10px 0px 0px 0px;
}

.social-icons a {
  color: #005aa7;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 35px;
  border: 1px solid #005aa7;
  border-radius: 50%;
  display: inline-block;

  &:hover {
    color: $white;
    background-color: #005aa7;
  }
}

// blog card
.card-img {
  object-fit: cover;
  width: 100%;
  height: 10vw;
}

// blog post
a.post-title {
  color: #005aa7;
  display: block;

  &:hover {
  }
}

.content {

  * {
    word-break: break-word;
    overflow-wrap: break-word;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #005aa7 !important;
  }

  strong {
    font-weight: 600;
  }

  a {
    color: #005aa7;

    &:hover {
      color: #005aa7;
    }
  }

  ol,
  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;

    }
  }

  ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style-type: none;

    li {
      padding-left: 20px;
      position: relative;

      &:not(.ms-slider__word):not(.quick_navigation_li)::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: #005aa7;
        left: 3px;
        top: 5px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #005aa7;
  }

  table td,
  table th {
    padding: .75rem;
    vertical-align: top;
    margin-bottom: 0;
  }

  th,
  td {
    &:not(:last-of-type) {
      border-right: 1px solid $border-color;
    }
  }

  th {
    font-weight: 500;
  }

  thead {
    background: $white;
    margin-bottom: 0;

    tr {
      border-bottom: 1px solid $border-color;
    }
  }

  tbody {
    background-color: transparent;
    margin-bottom: 0;
  }

  .notices {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
  }

  .notices p {
    padding: 10px;
    margin-bottom: 0;
  }

  .notices p::before {
    position: absolute;
    top: 2px;
    color: $white;
    font-family: "themify";
    font-weight: 900;
    content: "\e717";
    left: 10px;
  }

  .notices.note p {
    border-top: 30px solid #6ab0de;
    background: $white;
  }

  .notices.note p::after {
    content: 'Note';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.tip p {
    border-top: 30px solid #78C578;
    background: $white;
  }

  .notices.tip p::after {
    content: 'Tip';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }

  .notices.info p {
    border-top: 30px solid #F0B37E;
    background: $white;
  }

  .notices.info p::after {
    content: 'Info';
    position: absolute;
    top: 2px;
    color: $white;
    left: 2rem;
  }


  .notices.warning p {
    border-top: 30px solid #E06F6C;
    background: $white;
  }

  .notices.warning p::after {
    content: 'Warning';
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
  }


  blockquote {
    font-size: 20px !important;
    color: $text-color;
    padding: 20px 40px;
    border-left: 2px solid #005aa7;
    margin: 40px 0;
    font-weight: bold;
    background: $white;

    p {
      margin-bottom: 0 !important;
    }
  }

  pre {
    display: block;
    padding: 9.5px;
    margin: 10px 0px 10px;
    white-space: pre-wrap;
  }

  code {
    margin-bottom: 0 !important;
    font-size: 100%;
  }
}

ul.dashed > li::before {
  content: "– ";
}


// pagination
.pagination {
  margin-top: 30px;
  justify-content: center;

  .page-item {
    .page-link {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      background: $light;
      text-align: center;
      padding: 0;
      margin-right: 10px;
      border: 0;
      color: #005aa7;

      &:hover {
        background: #005aa7;
        color: $white;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &:first-child,
    &:last-child {
      .page-link {
        border-radius: 5px;
      }
    }

    &.active {
      .page-link {
        background: #005aa7;
        color: $white;
      }
    }
  }
}

.module-border-wrap {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to right, #618EC7, #FFFEE4);
  padding: 5px;
}

.module {
  background: #f9f9f9;
  padding: 2rem;
}

.mobile-footer{
  margin-top: 20px;
}

.split{
  flex-direction: column;
  height: 40%;
}

.split div {
  flex-grow:1;
}
 
.gc {
display: inline-block;
vertical-align: top;
}

.content ol li{
  color:#777777;
  padding-top: 5px;
  padding-left: 10px;
}

.content ol li::marker {
  color:#005AA7;
  font-weight: 500;
}

.content ul li{
  color:#777777;
  padding-top: 5px;
}

.content ul li:not(.ms-slider__word):not(.quick_navigation_li):before{
  height: 0px;
  width: 0px;
}

.content ul li:not(.ms-slider__word):before {
  position: absolute;
  content: ">" !important;
  color:#005AA7;
  font-weight: 600;
}

.itemize-special li:before {
  content: "" !important;
}

li {
  font-family: avenir, sans-serif;
  line-height: 1.7;
}

.rounded-blue-border {
  border-style:solid; 
  border-width:1px;
  border-color:#005aa7;
  color:#005aa7;
  border-radius: 25px; 
  margin-top:50px;
}

.menu2 div {
  padding: 5px 0px 5px 0px;
  margin-bottom: 10px;
  color: #777777;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  font-weight: 650;
}

.menu2 div.active {
color: #005AA7;
padding: 5px 0px 5px 0px;
text-decoration: underline;
}

.menu3 div {
  padding: 15px 0px 5px 0px;
  margin-bottom: 10px;
  color: #777777;
  cursor: pointer;
  position: relative;
  vertical-align: top;
  font-weight: 650;
}

.menu3 div.active2 {
  color: #005AA7;
  text-decoration: underline;
}

.active2 {
  list-style-type: none;
  z-index: 2;
  opacity: 1;
}

ul.nacc2 li {
  opacity: 0;
  position: absolute;
  list-style-type: none;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
ul.nacc2 li.active2 {
  list-style-type: none;
  z-index: 2;
  opacity: 1;
}
  
ul.nacc2 li p {
  list-style-type: none;
  padding: 20px 0px 0px 0px;
}

@media (max-width: 768px) {
  #image-col {
    visibility: hidden;
  }
}

ul.nacc li {
opacity: 0;
position: absolute;
list-style-type: none;
transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
list-style-type: none;
z-index: 2;
opacity: 1;
}

ul.nacc li p {
list-style-type: none;
padding: 20px 0px 0px 0px;
}

.border-gradient {
  box-sizing: border-box;
  border-width: 8px 0 0 0;
  border-style: solid;
  margin: 0px;
}

.divider-blocks{
  background-color:white; 
  padding:0px;
}

.divider-blocks__grey{
  background-color:#f9f9f9; 
  padding:0px;
}

.upper-blocks{
  background-color:#deecf7;
  height:1px;
  margin: 0px;
}

.lower-blocks{
  background-color:white;
  height:25px;
}

.lower-blocks__grey{
  background-color: #f9f9f9;
  height:25px;
}

.bordertest-mobile {
  border-bottom:5px solid #c4268c;
  position:relative;
}
.bordertest-mobile:first-child:before {
  content:'';
  position:absolute;
  width:100%;
  height:5px;
  background:linear-gradient(to left, #fffde4, #618EC7);
  bottom:-5px;
}

.layer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hide {
  opacity: 0;
}

.event-border {
  border-style: solid;
  border-width: 1px;
  border-color: #777777;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  & ~ .layer {
    position: relative;
    z-index: 2;
  }
}

.slider-wrapper{
  display: block;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-align: center;
}

.ms-slider {
  display: inline-block;
  padding-left: 5px;
  height: 2.8em;
  overflow: hidden;
  vertical-align: middle;
  
  &__words {
    display: inline-block;
    margin: 0;
    padding: 0;
  
    list-style: none;
    
    animation-name: wordSlider;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
  }
  
  &__word {
    display: block;
    line-height: 1.3em;
    text-align: left;
  }
}

@keyframes wordSlider {
  $steps: -0%, -33%, -66%;
  
  @for $index from 0 to length($steps)-1 {
    $next: $index+1;
    $step: floor(100/(length($steps)-1));
    $animation_step: floor($step*.2);
  
    #{$step*$index}%,
    #{($step*$next) - $animation_step}% {
      transform: translateY(nth($steps, $index+1));
    }
  }
  100% {
    transform: translateY(nth($steps, length($steps)));
  }
};