.nav-item {
  margin: 0;

  .nav-link {
    // text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #005aa7;

  &:hover {
    color: #fffde4;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}

.gradient-background{
  background: linear-gradient(to left, #618EC7, #fffde4);
}

.navigation{
  // height: 10%;
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
}


#header-navigation {
  background: linear-gradient(to left, #618EC7, #fffde4);
}

@media (max-width: 992px) {
  #navigation {
    background: linear-gradient(to left, #618EC7, #fffde4);
  }
}

@media (max-width: 992px) {
  #header-navigation {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #header-container {
    padding: 0;
  }
}

@media (max-width: 992px) {
  .navbar-div{
    padding-left: 5%;
  }
}

@media (max-width: 992px) {
  .button-div {
    padding-right: 5%;
  }
}

@media (min-width: 992px) {
  .navbar-div {
    padding-left: 16.67%;
  }
}

@media (min-width: 992px) {
  .navbar-nav {
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  #banner-text {
    width: 90%;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-bottom: 10px;
  }
}

.navbar{
  padding: 0;
}

.navbar-toggler>.cross {
  display:inline;
}
.navbar-toggler.collapsed>.cross, .navbar-toggler:not(.collapsed)>.navbar-toggler-menu {
  display:none;
}


.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}