/* Button style */
.alt_btn {
  margin-bottom: 50px;
  background-color: #FFFFF0;
  border: none;
  color: #777777;
  text-decoration: underline;
}

.btn {
  font-size: 16px;
  color: white;
  font-family: $primary-font;
  font-weight: 600;
  // text-transform: capitalize;
  padding: 15px 30px;
  border-radius: 30px;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
  white-space: nowrap;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: inherit;
    transition: inherit;
    background-color: #005aa7;
    border: 1px solid transparent;
  }

  &:hover,
  &:active,
  &:focus {
    color: white;
    outline: 0;
    @extend .shadow;

    &::before {
      height: 110%;
      width: 110%;
    }
  }

  &-sm {
    padding: 12px 30px;
    font-size: 15px;
  }
}

.btn-primary {
  background-color: #005aa7;
  color: $white;
  border-color: #005aa7;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: #005aa7;
    border-color: #005aa7;
  }
}

.btn-outline-primary {
  background-color: transparent;
  color: $text-color-dark;
  border-color: transparent;

  &:active,
  &:hover,
  &.focus,
  &.active {
    background-color: transparent !important;
    border-color: #005aa7 !important;
    color: #005aa7;
  }
  &::before{
    border-color: #005aa7;
  }
}

.btn-link {
  color: #005aa7;

  i,
  svg {
    font-size: 12px;
    margin-left: 5px;
    margin-bottom: 1px;
    transition: .2s ease;
  }

  &:active,
  &:hover,
  &.focus,
  &.active {
    color: #005aa7;
    text-decoration: underline;

    i,
    svg {
      margin-left: 10px;
    }
  }
}

.tablinks{
  border-width: 0px;
  background-color:#deecf7;
  h4 {
    color:#005aa7;
  }
}
.tablinks.active{
  color:white;
  text-decoration: underline;
  background-color:#005aa7;
  h4 {
    color:white !important;
  }
}