.box {
	position: relative;
	height: 125px;
	width: 125px;
    pointer-events: none;
}
.box:before {
	content: "";
	float: left;
}

.clickable-wrapper:hover {
    text-decoration: underline;
    cursor: pointer;
	text-decoration-color: #005aa7;
}

.highlight-blue {
	background-color:#005aa7;
	color:#fff;
	margin: .25rem 0.25rem 0.5rem 0.25rem !important;
	padding: 0.25rem 0.5rem !important;
}