.box {
	position: relative;
	height: 125px;
	width: 125px;
	pointer-events: none;
}

.box:before {
	content: "";
	float: left;
}

.clickable-wrapper:hover {
	text-decoration: underline;
	cursor: pointer;
	text-decoration-color: #005aa7;
}

.highlight-blue {
	background-color: #005aa7;
	color: #fff;
	margin: 0.25rem 0.25rem 0.5rem 0.25rem !important;
	padding: 0.25rem 0.5rem !important;
}

.ac .ac-trigger {
	font-family: avenir, sans-serif;
}

.ac .ac-trigger::after {
	color: #005aa7 !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

#score-card-container label {
	width: 100%;
}

.card-input-element {
	display: none;
}

.card-input {
	margin: 10px 0px;
	padding: 0px;
}

.card-input:hover {
	cursor: pointer;
}

.card-input-element:checked+.card-input {
	box-shadow: 0 0 1px 1px #005aa7;
	background-color: #deecf7;
}