.box {
	position: relative;
	height: 125px;
	width: 125px;
    pointer-events: none;
}
.box:before {
	content: "";
	float: left;
}

.clickable-wrapper:hover {
    text-decoration: underline;
    cursor: pointer;
	text-decoration-color: #005aa7;
}