{{ define "main" }}
{{ partial "page-header.html" . }}
{{ $split_char := " " }}

<script>
    $(document).ready(function () {
        $('.facet-checkbox').change(function () {
            let checkedItemsHelper = {};
            $('.facet-group').each(function () {
                // Atleast one element is checked
                if ($(this).find('input:checkbox:checked').length > 0) {
                    let group_name = $(this).attr('data-facet-group');
                    checkedItemsHelper[group_name] = [];
                    $(this).find('input:checkbox:checked').each(function () {
                        checkedItemsHelper[group_name].push(this.id);
                    })
                }
            });

            // Show all items
            $('.algoprudence-article').each(function() {
                $(this).show();
            });

            // Hide those without the right facets
            // The logic is as follow
            // We loop through all selected groups, as we dont want to filter on non-selected groups
            // Then we get all articles and loop through their facets
            // If none of them match any filters within the group, hide it.

            // Loop through all groups
            $.each(checkedItemsHelper, function(groupName, selectedFacets) {
                // Get all articles
                $('.algoprudence-article').each(function() {

                    // Loop through their facets
                    var facets_on_article = $(this).attr('data-facets').split('{{$split_char}}');
                    if(!$(facets_on_article).is(function(index_facet_on_article) {
                        let facet_on_article = facets_on_article[index_facet_on_article];

                        // Loop through the selected facets of this group
                        return $(selectedFacets).is(function(index_of_selected_facet) {
                            let selectedFacet = selectedFacets[index_of_selected_facet];

                            // Check if they match
                            return selectedFacet == facet_on_article;
                        });

                    }))
                    {
                        $(this).hide();
                    }
                })
            })

        });
    });
</script>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content">
                    <div class="row" style="margin-bottom:25px;">
                        <!-- Facets -->
                        <div class="mt-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            {{ range $facet_group := .Params.facet_groups}}
                            <div class="facet-group" data-facet-group="{{$facet_group.value}}">
                                <fieldset>
                                    <legend>{{$facet_group.title}}</legend>
                                    {{ range $facet := $facet_group.facets}}
                                    <div>
                                        <input type="checkbox" id="{{$facet_group.value}}_{{$facet.value}}"
                                            name="{{$facet.label}}" class="facet-checkbox" />
                                        <label for="{{$facet_group.value}}_{{$facet.value}}">{{$facet.label}}</label>
                                    </div>
                                    {{ end }}
                                </fieldset>
                            </div>
                            {{end}}
                        </div>

                        <!-- Articles -->
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            {{ if .Params.algoprudences }}
                            {{ range $algoprudence := .Params.algoprudences }}

                            {{ $facets_for_data_attribute := "" }}
                            {{ range $facet := $algoprudence.facets }}
                            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
                            $split_char | printf "%s" }}
                            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
                            $facet.value | printf "%s" }}
                            {{ end }}
                            <div class="row p-5 shadow rounded-lg algoprudence-article" data-facets="{{$facets_for_data_attribute}}">

                                {{ range $facet := $algoprudence.facets }}
                                <span class="mr-1 mb-2">{{$facet.label}}</span>
                                {{end}}

                                <a href="{{$algoprudence.link}}">
                                    <div class="row align-items-center">
                                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                            <h3 class="mb-4" style="color: #005aa7;">
                                                {{$algoprudence.title}}
                                            </h3>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <p>{{$algoprudence.intro | markdownify}}</p>

                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="center-vert" style="position:relative;margin:25px 0"><label
                                                    class="btn">Read more</label></div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}