{{ define "main" }}
{{ $split_char := " " }}

<section class="section">
    <div class="container">
        <!-- Tab header -->
        <div class="row mt-4">
            <div class="col-lg-10 mx-auto">
                <div class="row tab">
                    <button class="col tablinks" onclick="openTab(event, 'description_tab')" id="defaultOpen">
                        <h3>{{ i18n "algoprudence_description_tab" }}</h3>
                    </button>
                    {{ if .Params.actions }}
                    <button class="col tablinks" onclick="openTab(event, 'actions_tab')">
                        <h3>{{ i18n "algoprudence_actions_tab" }}</h3>
                    </button>
                    {{ end }}
                </div>
            </div>
        </div>
        <!-- /Tab header -->
        <!-- Description of algoprudence -->
        <div class="row tabcontent" id="description_tab">
            <div class="col-lg-10 mx-auto" style="background-color: #deecf7;">
                <div class="content">
                    {{ $algoprudence := .Params }}
                    <div class="p-5 shadow rounded-lg" style="display:table;">
                        <h3 class="mb-4 pl-0" style="color: #005aa7; padding: 0 0 0 25px">
                            {{if $algoprudence.icon}}
                            <i class="fas {{$algoprudence.icon}} mr-3"></i>
                            {{end}}
                            {{$algoprudence.title | markdownify }}
                        </h3>

                        <div class="row" style="margin-bottom:25px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <!-- Key takeaways -->
                                {{ if $algoprudence.key_takeaways }}
                                <span style="color:#005aa7; font-size: 18px; font-weight:bold;">
                                    {{ i18n "key_takeaways_normative_advice_commission" }}
                                </span>
                                <div class="row" style="margin: 0px 0px 10px 0px;">
                                    {{ range $takeaway_index, $takeaway := $algoprudence.key_takeaways }}
                                    <div class="grid">
                                        <div class="row ml-0 mr-0">
                                            <span
                                                style="color:#005aa7; font-size:16px; font-weight: bold; margin: 25px 0px 0px 0px;">>
                                                {{$takeaway.title}}</span>
                                        </div>
                                        <div class="row ml-0 mr-0">
                                            <p class="center-vert mb-0" style="font-size: 16px;">
                                                {{$takeaway.content | markdownify}}
                                            </p>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}

                                <!-- Summary advice -->
                                {{if $algoprudence.summary}}
                                <span style="color:#005aa7; font-size: 18px; font-weight:bold;">
                                    {{ i18n "summary-advice" }}
                                </span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.summary | markdownify }}
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Source of case -->
                                {{ if $algoprudence.sources }}
                                <span style="color:#005aa7; font-size: 18px; font-weight: bold;">
                                    {{ i18n "source_of_case"}}
                                </span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.sources | markdownify}}
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Additional Content -->
                                {{ if $algoprudence.additional_content }}
                                {{ range $additional_content_index, $additional_content :=
                                $algoprudence.additional_content }}
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-{{$additional_content.width}} col-md-{{$additional_content.width}} col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            <span
                                                style="color:#005aa7; font-size: 18px; font-weight: bold; margin-bottom:0px;">{{$additional_content.title}}</span>
                                            <br>
                                            {{$additional_content.content | markdownify}}
                                        </p>
                                    </div>
                                    {{if $additional_content.image}}
                                    <div
                                        class="col-lg-{{sub 12 $additional_content.width}} col-md-{{sub 12 $additional_content.width}} col-sm-12 col-xs-12">
                                        <p class="crossfade"></p>
                                        <a href="{{$additional_content.image_link}}" target="_blank">
                                            <img class="about-img" style="height:50px;"
                                                src="{{ $additional_content.image }}">
                                        </a>
                                    </div>
                                    {{end}}
                                </div>
                                {{end}}
                                {{end}}

                                <!-- Report -->
                                {{ if $algoprudence.algoprudence }}
                                <span
                                    style="color:#005aa7; font-size: 18px;font-weight: bold;">{{$algoprudence.algoprudence.title}}</span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.algoprudence.intro | markdownify }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    style="margin: 0px 0px 45px 0px; display:table;">
                                    {{ range $report_index, $report := $algoprudence.algoprudence.reports}}
                                    <iframe src="{{$report.url}}" width="50%" height="594px" allow="autoplay"></iframe>
                                    {{end}}
                                </div>
                                {{ end }}

                                <!-- Advice commission -->
                                {{if $algoprudence.normative_advice_members}}
                                <span style="color:#005aa7; font-size: 18px; font-weight: bold;">
                                    {{ i18n "normative-advice-commission"}}
                                </span>
                                <div class="row" style="margin: 15px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0" style="display:table;">
                                        <p class="center-vert" style="font-size: 16px;">
                                        <ul>
                                            {{range $member_index, $member := $algoprudence.normative_advice_members}}
                                            <li style="color:#777777">{{$member.name | markdownify}}</li>
                                            {{end}}
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Funded by -->
                                {{if $algoprudence.funded_by}}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h3 class="mb-4" style="font-size: 18px; color: #005aa7;">
                                            {{ i18n "funded-by" }}
                                        </h3>
                                    </div>
                                    {{range $funder_index, $funder := $algoprudence.funded_by}}
                                    <div class="center-vert col-lg-4 col-md-6 col-sm-6 col-xs-12"
                                        style="display:table;">
                                        <p class="center-vert"></p>
                                        <a href="{{$funder.url}}" target="_blank">
                                            <img src="{{ $funder.image | relURL }}" style="width:70%">
                                        </a>
                                    </div>
                                    {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Description of algoprudence -->
        <!-- actions of algoprudence -->
        <div class="row tabcontent" id="actions_tab">
            <div class="col-lg-10 mx-auto" style="background-color: #deecf7;">
                <div class="content">
                    {{ if .Params.actions }}
                    {{ range $actions := .Params.actions }}

                    {{ $facets_for_data_attribute := "" }}
                    {{ range $facet := $actions.facets }}
                    {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
                    $split_char | printf "%s" }}
                    {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
                    $facet.value | printf "%s" }}
                    {{ end }}
                    <div class="py-4"></div>
                    <div class="border-0 mx-5 mb-4 algoprudence-article" style="background-color: #deecf7;"
                        data-facets="{{$facets_for_data_attribute}}">
                        <div class="grid" data-facets="{{$facets_for_data_attribute}}">
                            <div class="p-0">
                                <div class="row justify-content-between m-0">
                                    <div class="col-2 mr-4 box p-0 mt-0" style="background-color: #ffffff;">
                                        <img class="img-fluid about-img p-5" src="{{$actions.image}}" />
                                    </div>
                                    <div class="col pt-3 pb-5" style="background-color: #ffffff;">
                                        <div class="row align-items-center">
                                            <h4 class="mb-4 mx-3" style="color: #005aa7;">
                                                {{$actions.title}}
                                            </h4>
                                        </div>
                                        <div class="row pl-3"
                                            style="position: absolute; bottom: 0; font-weight: 300; font-size: 15px;">
                                            {{ if $actions.date }}
                                            <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                                                {{ $actions.date }}
                                            </span>
                                            {{ end }}
                                            {{ range $facet := $actions.facets }}
                                            {{ if $facet.hide }}
                                            {{ else }}
                                            <span style="background-color: #005aa7; color: #ffffff;"
                                                class="mr-1 mb-2 px-2 py-1 mx-1">{{$facet.label}}</span>
                                            {{ end }}
                                            {{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="py-4"></div>
                    {{end}}
                    {{end}}
                </div>
            </div>
        </div>
        <!-- /actions of algoprudence -->
    </div>
</section>

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function () {
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    })

</script>
{{ end }}