{{ define "main" }}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="content">
                    {{ $algoprudence := .Params }}
                    <div class="p-5 shadow rounded-lg" style="display:table;">
                        <h3 class="mb-4 pl-0" style="color: #005aa7; padding: 0 0 0 25px">
                            {{if $algoprudence.icon}}
                            <i class="fas {{$algoprudence.icon}} mr-3"></i>
                            {{end}}
                            {{$algoprudence.title | markdownify }}
                        </h3>

                        <div class="row" style="margin-bottom:25px;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                <!-- Key takeaways -->
                                {{ if $algoprudence.key_takeaways }}
                                <!-- TODO English text -->
                                <span style="color:#005aa7; font-size: 18px; font-weight:bold;">
                                    {{ i18n "key_takeaways_normative_advice_commission" }}
                                </span>
                                <div class="row" style="margin: 0px 0px 10px 0px;">
                                    {{ range $takeaway_index, $takeaway := $algoprudence.key_takeaways }}
                                    <div class="grid">
                                        <div class="row ml-0 mr-0">
                                            <span
                                                style="color:#005aa7; font-size:16px; font-weight: bold; margin: 25px 0px 0px 0px;">>
                                                {{$takeaway.title}}</span>
                                        </div>
                                        <div class="row ml-0 mr-0">
                                            <p class="center-vert mb-0" style="font-size: 16px;">
                                                {{$takeaway.content}}
                                            </p>
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                                {{ end }}

                                <!-- Summary advice -->
                                {{if $algoprudence.summary}}
                                <span style="color:#005aa7; font-size: 18px; font-weight:bold;">
                                    {{ i18n "summary-advice" }}
                                </span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.summary | markdownify }}
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Source of case -->
                                {{ if $algoprudence.sources }}
                                <span style="color:#005aa7; font-size: 18px; font-weight: bold;">
                                    {{ i18n "source_of_case"}}
                                </span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.sources | markdownify}}
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Additional Content -->
                                {{ if $algoprudence.additional_content }}
                                {{ range $additional_content_index, $additional_content :=
                                $algoprudence.additional_content }}
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-{{$additional_content.width}} col-md-{{$additional_content.width}} col-sm-12 col-xs-12"
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            <span
                                                style="color:#005aa7; font-size: 18px; font-weight: bold; margin-bottom:0px;">{{$additional_content.title}}</span>
                                            <br>
                                            {{$additional_content.content | markdownify}}
                                        </p>
                                    </div>
                                    {{if $additional_content.image}}
                                    <div
                                        class="col-lg-{{sub 12 $additional_content.width}} col-md-{{sub 12 $additional_content.width}} col-sm-12 col-xs-12">
                                        <p class="crossfade"></p>
                                        <a href="{{$additional_content.image_link}}" target="_blank">
                                            <img class="about-img" style="height:50px;"
                                                src="{{ $additional_content.image }}">
                                        </a>
                                    </div>
                                    {{end}}
                                </div>
                                {{end}}
                                {{end}}

                                <!-- Report -->
                                {{ if $algoprudence.algoprudence }}
                                <span
                                    style="color:#005aa7; font-size: 18px;font-weight: bold;">{{$algoprudence.algoprudence.title}}</span>
                                <div class="row" style="margin: 0px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" v
                                        style="display:table; padding:0px 25px 0px 0px;">
                                        <p class="center-vert" style="font-size: 16px;">
                                            {{$algoprudence.algoprudence.intro | markdownify }}
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                    style="margin: 0px 0px 45px 0px; display:table;">
                                    {{ range $report_index, $report := $algoprudence.algoprudence.reports}}
                                    <iframe src="{{$report.url}}" width="50%" height="594px" allow="autoplay"></iframe>
                                    {{end}}
                                </div>
                                {{ end }}

                                <!-- Advice commission -->
                                {{if $algoprudence.normative_advice_members}}
                                <span style="color:#005aa7; font-size: 18px; font-weight: bold;">
                                    {{ i18n "normative-advice-commission"}}
                                </span>
                                <div class="row" style="margin: 15px 0px 25px 0px;">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0" style="display:table;">
                                        <p class="center-vert" style="font-size: 16px;">
                                        <ul>
                                            {{range $member_index, $member := $algoprudence.normative_advice_members}}
                                            <li style="color:#777777">{{$member.name | markdownify}}</li>
                                            {{end}}
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                                {{end}}

                                <!-- Funded by -->
                                {{if $algoprudence.funded_by}}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h3 class="mb-4" style="font-size: 18px; color: #005aa7;">
                                            {{ i18n "funded-by" }}
                                        </h3>
                                    </div>
                                    {{range $funder_index, $funder := $algoprudence.funded_by}}
                                    <div class="center-vert col-lg-4 col-md-6 col-sm-6 col-xs-12"
                                        style="display:table;">
                                        <p class="center-vert"></p>
                                        <a href="{{$funder.url}}" target="_blank">
                                            <img src="{{ $funder.image | relURL }}" style="width:70%">
                                        </a>
                                    </div>
                                    {{end}}
                                </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}