{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation gradient-background">
  <div class="container" style="padding: 0;">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="padding: 0;">
      <a class="navbar-brand" href="{{ site.BaseURL | absLangURL }}" style="padding-left: 10%;">
        {{ with site.Params.logo}}
        <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relLangURL }}" alt="{{ site.Title }}">
        {{ else }}{{site.Title}}{{end}}
      </a>
      <button class="navbar-toggler border-0" style="padding-right: 10%;" type="button" data-toggle="collapse" data-target="#navigation" aria-label="menu">
        <i class="fas fa-bars" style="color:#005aa7"></i>
      </button>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relLangURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}

      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}