<section class="section bg-lightblue" style="margin:0px 0px; padding:20px 0px 40px 0px;">
  <div class="container">

    <div class="row motto">
      <!-- Motto -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <h2 class="section-title motto" id="motto" style="color: #005aa7; text-align:center"></h2>
      </div>
      <!-- /Motto -->
    </div>

    <div class="row mobile-footer">
      <!-- Logo -->
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1 order-xs-1 logo">
        <div class="inner">
          {{ with site.Params.logo}}
          <div>
            <img class="center-block" style="width:75%;" src="{{ . | relURL }}" alt="{{ site.Title }}"></img>
          </div>
          {{ else }}{{site.Title}}{{end}}
        </div>
      </div>
      <!-- Logo -->

      <!-- Sitemap -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 order-lg-1 order-md-1 order-sm-2 order-xs-2">
        <h3 style="font-size:14px; color:#005aa7;">Sitemap</h3>

        <ul style="list-style-type:none; padding-left:0;">
          {{ range site.Menus.main }}
          <li><a href="{{ .URL | relURL }}"><p style="color:#005aa7; font-size:12px; margin:0 0 0px 0;">{{ .Name }}</p></a></li>
          {{ end }}
        </ul>
      </div>
      <!-- /Sitemap -->

      <!-- Follow us -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 order-lg-3 order-md-3 order-sm-3 order-xs-3 custom_div_parent">
        <p id="follow" style="font-size:12px; color: #005aa7;"></p>
        {{ with site.Params.social }}
        <div class="social-icons">
          {{ range . }}
          <a href="{{ .link | safeURL }}" target="_blank" title="{{ .title }}"><i class="{{ .icon }}"></i></a>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <!-- /Follow us -->
    </div>

  </div>
</section>

<!-- lowest footer -->
<section class="section" style="padding:0px 0px 0px 0px; margin-top:40px; margin-bottom:10px;">
  <div class="container">

    <div class="row mobile-footer">

      <!-- Privacy policy -->
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px; ">
        <p style="font-size:12px; margin:0px;"><a href="{{ `privacy_policy` | relURL }}">Privacy policy and cookies</a></p>
      </div>
      <!--/Privacy policy -->
    
      <!-- KVK -->
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px 0px;">
        <div style="padding: 0px 0px;">
          <a id="KvK" style="font-size:12px; padding: 0px 0px; cursor: default;"></a>
        </div>
      </div>
      <!--/KVK -->
    
      <!-- License -->
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px 0px;">
        <p style="font-size:12px;">This website is built under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0 license</a>. This means you can share and adapt content freely, as long as you credit Algorithm Audit and named co-creators.</p>
      </div>
      <!--/License -->
    
    </div>

  </div>
</section>
