<section class="section bg-lightblue" style="margin:0px 0px; padding:20px 0px 40px 0px;">
  <div class="container">

    <!-- desktop version -->
    <div class="container desktop my-5">
      <div class="row">

        <!-- Newsletter content -->
        <div class="col-4">
          <div class="p-4">
            <h3 style="color:#005aa7;">Newsletter</h3>
            <p>Stay up to date about our work by signing up for our newsletter</p>
          </div>
        </div>
        <!-- /Newsletter content -->

        <div class="col-8">
          <form action="https://algorithmaudit.us14.list-manage.com/subscribe/post?u=0c1760b246d5b08459fab1089&amp;id=38c5b7c211&amp;f_id=00cda8e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

            <div class="form-container">
              <div class="row">

                <!-- mail address -->
                <div class="col-8" style="color:#005aa7; font-family:avenir; font-size:18px; padding: 0px;">
                  <div class="text-white" id="mail-form">
                    <p class="crossfade2"></p>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" style="color:#777777; font-family:avenir; font-size:18px; padding:10px; width:100%;">
                  </div>
                </div>
                <!-- /mail address -->

                <!-- button -->
                <div class="col-4">
                  <p class="crossfade2"></p>
                  <div class="btn">
                    <input type="submit" class="mce-EMAIL" name="subscribe" id="mc-embedded-subscribe" value="Subscribe" style="background-color:#005aa7; color:white; font-family:avenir; font-size:16px; font-weight: 600; border-width:0px; border:none;">
                  </div>
                </div>
                <!-- /button -->

                <!-- responses -->
                <div class="clear">
                  
                  <!-- error response -->
                  <div class="response" id="mce-error-response" style="display:none;"></div>
                  <!-- /error response -->

                  <!-- succes response -->
                  <div class="response" id="mce-success-response" style="display:none;"></div>
                  <!-- /succes response -->

                </div>
                <!-- /responses -->

                <!-- ?? -->
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_0c1760b246d5b08459fab1089_38c5b7c211" tabindex="-1" value="">
                </div>
                <!-- /?? -->

              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="container mobile">
      <div class="row">

        <!-- Newsletter content -->
        <div class="col-12 px-5 mt-5">
          <div class="p-0">
            <h3 style="color:#005aa7;">Newsletter</h3>
            <p>Stay up to date about our work by signing up for our newsletter</p>
          </div>
        </div>
        <!-- /Newsletter content -->

        <div class="col-12 px-5 mb-5">
          <form action="https://algorithmaudit.us14.list-manage.com/subscribe/post?u=0c1760b246d5b08459fab1089&amp;id=38c5b7c211&amp;f_id=00cda8e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

            <div class="form-container">
              <div class="row">

                <!-- mail address -->
                <div class="col-12" style="color:#005aa7; font-family:avenir; font-size:18px;">
                  <div class="text-white" id="mail-form">
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" style="color:#777777; font-family:avenir; font-size:18px; padding:10px; width:100%;">
                  </div>
                </div>
                <!-- /mail address -->

                <!-- button -->
                <div class="col-12 mt-4 d-flex justify-content-center">
                  <div class="btn">
                    <input type="submit" class="mce-EMAIL" name="subscribe" id="mc-embedded-subscribe" value="Subscribe" style="background-color:#005aa7; color:white; font-family:avenir; font-size:16px; font-weight: 600; border-width:0px; border:none;">
                  </div>
                </div>
                <!-- /button -->

                <!-- responses -->
                <div class="clear">
                  
                  <!-- error response -->
                  <div class="response" id="mce-error-response" style="display:none;"></div>
                  <!-- /error response -->

                  <!-- succes response -->
                  <div class="response" id="mce-success-response" style="display:none;"></div>
                  <!-- /succes response -->

                </div>
                <!-- /responses -->

                <!-- ?? -->
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  <input type="text" name="b_0c1760b246d5b08459fab1089_38c5b7c211" tabindex="-1" value="">
                </div>
                <!-- /?? -->

              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
    <!-- /mobile version -->

    <div class="row motto">
      <!-- Motto -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <h2 class="section-title motto" id="motto" style="color: #005aa7; text-align:center"></h2>
      </div>
      <!-- /Motto -->
    </div>

    <div class="row mobile-footer">
      <!-- Logo -->
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 order-lg-2 order-md-2 order-sm-1 order-xs-1 logo">
        <div class="inner">
          {{ with site.Params.logo}}
          <div>
            <img class="center-block" style="width:75%;" src="{{ . | relURL }}" alt="{{ site.Title }}"></img>
          </div>
          {{ else }}{{site.Title}}{{end}}
        </div>
      </div>
      <!-- Logo -->

      <!-- Sitemap -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 order-lg-1 order-md-1 order-sm-2 order-xs-2">
        <h3 style="font-size:14px; color:#005aa7;">Sitemap</h3>

        <ul style="list-style-type:none; padding-left:0;">
          {{ range site.Menus.main }}
          <li><a href="{{ .URL | relURL }}"><p style="color:#005aa7; font-size:12px; margin:0 0 0px 0;">{{ .Name }}</p></a></li>
          {{ end }}
        </ul>
      </div>
      <!-- /Sitemap -->

      <!-- Follow us -->
      <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 order-lg-3 order-md-3 order-sm-3 order-xs-3 custom_div_parent">
        <p id="follow" style="font-size:12px; color: #005aa7;"></p>
        {{ with site.Params.social }}
        <div class="social-icons">
          {{ range . }}
          <a href="{{ .link | safeURL }}" target="_blank" title="{{ .title }}"><i class="{{ .icon }}"></i></a>
          {{ end }}
        </div>
        {{ end }}
      </div>
      <!-- /Follow us -->
    </div>

  </div>
</section>

<!-- lowest footer -->
<section class="section" style="padding:0px 0px 0px 0px; margin-top:40px; margin-bottom:10px;">
  <div class="container">

    <div class="row mobile-footer">

      <!-- Privacy policy -->
      <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px; ">
        <p style="font-size:12px; margin:0px;"><a href="{{ `privacy_policy` | relURL }}">Privacy policy and cookies</a></p>
      </div>
      <!--/Privacy policy -->
    
      <!-- KVK -->
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px 0px;">
        <div style="padding: 0px 0px;">
          <a id="KvK" style="font-size:12px; padding: 0px 0px; cursor: default;"></a>
        </div>
      </div>
      <!--/KVK -->
    
      <!-- License -->
      <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 mobile-footer-distance" style="padding:0px 0px;">
        <p style="font-size:12px;">This website is built under <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY 4.0 license</a>. This means you can share and adapt content freely, as long as you credit Algorithm Audit and named co-creators.</p>
      </div>
      <!--/License -->
    
    </div>

  </div>
</section>
