{{ "<!-- navigation -->" | safeHTML }}

<header class="navigation col-12 shadow-sm px-0" id="header-navigation">
  <div class="container" id="header-container">

    <!-- navbar -->
    <nav class="navbar navbar-expand-xl navbar-light">
      <div class="navbar-div">
        <a class="navbar-brand" href="{{ site.Home.RelPermalink }}">
          {{ with site.Params.logo}}
          <img width="{{site.Params.logo_width}}" class="img-fluid" src="{{ . | relURL }}" alt="{{ site.Title }}" style="min-width: {{site.Params.logo_width}};">
          {{ else }}{{site.Title}}{{end}}
        </a>
      </div>
      <div class="button-div">
        <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-label="menu">
          <i class="fas fa-bars navbar-toggler-menu" id="bars" style="color:#005aa7"></i>
          <i class="fas fa-times cross" style="color:#005aa7"></i>
        </button>
      </div>

      <!-- nav items -->
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav ml-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-none d-xl-block" href="{{ .URL | relURL }}" role="button">
              {{ .Name }}
            </a>
            <a class="nav-link dropdown-toggle d-block d-xl-none" href="{{ .URL | relURL }}" role="button" data-toggle="dropdown" >
              {{ .Name }}
            </a>
            <div class="dropdown-menu shadow-lg" style="padding: 1rem 0.25rem;">
              {{ range .Children }}
              {{if .Params.subtitle}}
              <p class="mb-0 mt-1 ml-3" style="color:#005aa7; font-weight:550; font-size:13px;">{{.Params.subtitle}}</p>
              {{end}}
              <a class="dropdown-item mr-4" href="{{ .URL | relURL }}" target="{{ .Params.target }}"  title="{{ .Name }}" style="padding: 0.75rem 1.5rem;color: #005aa7;">
                {{if .Params.icon}}
                <i class="fas {{.Params.icon}} col-2 pl-0"></i>
                {{end}}
                {{ if .Params.Featured }}
                <div class="mb-1 text-center rounded" style="padding: 0.5rem 0.5rem; background-color: #dfeaf4;">
                {{ end }}
                  {{.Pre}}{{ .Name }}{{.Post}}
                {{ if .Params.Featured }}
                </div>
                {{ end }}
              </a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | relURL }}" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}

          <!-- Search -->
          <li class="nav-item">
            <a class="nav-link" href='{{ if eq .Site.Language.Lang "en" }}{{else}}/nl{{end}}/#search' title="Search">{{i18n "search" }} <i class="fas fa-search"></i></a>
          </li>
          <!-- /Search -->


          <!-- Language toggle -->
          {{ if .IsTranslated }}
          {{ range .Translations }}
          <li class="nav-item d-inline-block" style="min-width: 137px;">
            <a href="{{ .RelPermalink }}" class="nav-link d-inline-block nowrap" title="Language toggle">
              <div class="d-inline" {{ if eq .Site.Language.Lang "en" }} style="font-weight: 350;" {{ end}}>
                EN
              </div>
              <!-- Rounded switch -->
              <label class="switch d-inline-block mx-1">
                <input type="checkbox" disabled aria-checked={{if eq .Site.Language.Lang "en" }} "true" checked {{else}} "false" {{ end }} id="lang-toggle" role="switch">
                <span class="slider round"></span>
              </label>
              <div class="d-inline" {{ if eq .Site.Language.Lang "nl" }} style="font-weight: 350;" {{ end}}>
                NL
              </div>
            </a>
          </li>
          {{ end }}
          {{ end }}
          <!-- /Language toggle -->

        </ul>
      </div>
      <!-- /nav items -->

    </nav>
    <!-- /navbar -->

  </div>

</header>

{{ "<!-- /navigation -->" | safeHTML }}