<section class="banner banner-background">
  <div class="container">
    <div class="row" style="display: flex; align-items: center;">

      <div class="col-lg-6 col-md-12 col-sm-12 mb-5 order-lg-1 order-md-2 order-sm-2">
        <!-- title -->
        <h2 class="pr-5" style="color:#005aa7;">{{ .Params.Title | markdownify }}</h2>
        <div class="pr-5">
          <p style="color:#777777; font-size: 16px;"> {{.Params.subtitle | markdownify}} </p>
        </div>
      </div>
      <!-- /al-go-pru-dence -->

      <!-- image -->
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-2 order-md-1 order-sm-1 text-center">
        <img src='{{ .Params.image | relURL }}' class='img-fluid center-block mt-5' style='margin-bottom: 100px; height: 400px;'>
      </div>
      <!-- image -->
    </div>

    <div class="pinDiv1"></div>
  </div>
</section>

{{ $divider_block_class := "divider-blocks"}}
{{ $divider_lower_block_class := "lower-blocks"}}

{{ if eq .Params.background_color "#f9f9f9" }}
{{$divider_block_class = "divider-blocks__grey"}}
{{$divider_lower_block_class = "lower-blocks__grey"}}
{{end}}

<!-- Divider block elements -->
<div class="row" id="gradient-line-blocks">
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box1"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #FFFEE4, #F7F8E3) 1 0 0 0;"></div>
  </div>
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box2"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #F7F8E3, #E9EFE0) 1 0 0 0;"></div>
  </div>
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box3"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #E9EFE0, #D2DEDC) 1 0 0 0;"></div>
  </div>
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box4"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #D2DEDC, #B4C8D5) 1 0 0 0;"></div>
  </div>
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box5"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #B4C8D5, #8FAFD0) 1 0 0 0;"></div>
  </div>
  <div class="col-2 {{$divider_block_class}}">
    <div class="row upper-blocks" id="box6"></div>
    <div class="row {{$divider_lower_block_class}} justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #8FAFD0, #618EC7) 1 0 0 0;"></div>
  </div>
</div>
<!-- /Divider block elements -->