<section class="banner banner-background sublandingpage-banner-padding-bottom">
  <div class="container">
    <div class="row" style="display:flex;">
      <div class="col-12 col-lg-5">
        <div class="landing-page-core-activities pb-5">
          <div class="row">
              <div class="col-12 col-lg-8 col-xl-10 pr-5">
                  {{ $color := .Params.font_color }}
                  {{ if not ($color) }}
                  {{ $color = "#FFF" }}
                  {{ end }}
                  <div style="background-color: {{.Params.color}}; color: {{$color}} !important" class="rounded-lg font-size-1rem font-size-xl-1_5rem container p-0">
                      <div class="row mx-4 py-3">
                          <i style="color: {{$color}} !important" class="font-size-2rem fa {{ .Params.icon }}"></i>
                      </div>
                      <row class="row mx-4 pt-3">
                          <h3 style="color: {{$color}} !important" class="{font-size-1_3rem">{{.Params.title}}</h3>
                      </row>
                      <row class="row mx-4 pb-0 landing-page-core-activities-row-subtitle">
                          <p style="color: {{$color}} !important" class="font-size-1rem">{{.Params.titleline2}}</p>
                      </row>
                  </div>
              </div>
          </div>
          <div class="row mt-5">
            <div class="col">
              <div class="pr-5 color-blue font-size-1_3rem">
                {{.Params.subtitle | markdownify}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="container pb-5">
          {{ range .Params.subpage_links }}
          <a href={{.url}} class="row justify-content-center">
            <div style="background-color: {{.color}}};" class="rounded-lg col color-blue p-0 my-2">
              <div class="row mx-4 py-3">
                  <i class="font-size-1_5rem fa {{ .icon }}"></i>
                  <h3 class="color-blue font-size-1_5rem ml-4">{{.title}}</h3>
              </div>
              <row class="row mx-4 pb-0 landing-page-core-activities-row-subtitle">
                <p class="color-blue font-size-1rem">{{.titleline2}}</p>
              </row>
            </div>
            </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>