{{ define "pre-main" }}
{{ partial "landingpage/banner.html" . }}
{{ end }}

{{ define "main" }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  rel="stylesheet" />

{{ partial "landingpage/about.html" .}}

{{ partial "overview_block.html" .}}

{{ partial "landingpage/activityfeed.html" . }}

<!-- Building AI auditing capacity from a not-for-profit perspective -->
{{ if .Params.Building_ai_audit_capacity }}
{{ with .Params.Building_ai_audit_capacity}}
<section class="section bg-white" style="margin:100px 0px;">
  <div class="container">

    <!-- desktop version -->
    <div class="col-12 text-center desktop">
      {{ range .lines }}
      <h1 class="mb-4" style="color:#005aa7; font-weight:100;">
        {{ .text_before }}
        <i class="highlight-blue">{{.text_highlighted}}</i>
        {{.text_after}}
        <br />
      </h1>
      <br>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="col-12 text-center mobile">
      {{ range .lines }}
      <h1 class="mb-0" style="color:#005aa7; font-weight:100; line-height:2;">
        {{ .text_before }}
        <br />
        <i class="highlight-blue">{{.text_highlighted}}</i>
        {{.text_after}}
      </h1>
      <br>
      {{ end }}
    </div>
    <!-- /mobile version -->

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Building AI auditing capacity from a not-for-profit perspective -->

<!-- Distinctive in -->
{{ with .Params.Distinctive_in }}
{{ if .enable }}
<section class="section bg-blue">
  <div class="container">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color:white;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /title -->

    <!-- distinctive in elements -->

    <!-- desktop version -->
    <div class="row justify-content-center desktop" style="margin-bottom: 50px;">
      {{$width_m := 4}}
      {{$width_s := 2}}
      {{if .width_m}}
      {{$width_m = .width_m}}
      {{end}}
      {{if .width_s}}
      {{$width_s = .width_s}}
      {{end}}
      {{ range .feature_item }}
      <div class="col-md-{{$width_m}} col-sm-{{$width_s}} mb-4 border-left-white">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color:white; display:inline-block; font-size:22px;">
            <h4 class="" style="color:white; display:inline-block; padding-left:10px; font-weight:100; font-size:18px;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p style="color:white;">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
      {{ range .feature_item }}
      <div class="col-12 py-4 border-top">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color:white; display:inline-block; font-size:22px;">
            <h4 style="color:white; display:inline-block; padding-left:10px; font-weight:100;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p style="color:white;">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /mobile version -->


    <!-- /distinctive in elements -->

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Distinctive in -->

<!-- Areas of AI expertise -->
{{ with .Params.Areas_of_AI_expertise }}
{{ if .enable }}
<section class="section bg-white">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- areas of AI expertise -->

    <!-- desktop version -->
    <div class="row justify-content-center desktop">
      {{$width_m := 4}}
      {{$width_s := 2}}
      {{if .width_m}}
      {{$width_m = .width_m}}
      {{end}}
      {{if .width_s}}
      {{$width_s = .width_s}}
      {{end}}
      {{ range .feature_item }}
      <div class="col-md-{{$width_m}} col-sm-{{$width_s}} mb-4 border-left-blue">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;">
            <h4 class="" style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
      {{ range .feature_item }}
      <div class="col-12 m-4 border-top-blue">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;">
            <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /mobile version -->

    <!-- /areas of AI expertise -->

    <!-- Button -->
    <div class="row text-center">
      <div class="col-12" style="margin-top:25px;">
        <a class="btn-link" href="{{.button_link | relURL}}">
          <h3 class="btn" style="color:#ffffff;">{{.button_text}}</h3>
        </a>
      </div>
    </div>
    <!-- /Button -->
  </div>
</section>
{{end}}
{{end}}
<!-- /Areas of AI expertise -->

<!-- Recent audits -->
{{ if .Params.Recent_audits}}
{{with .Params.Recent_audits}}
<section class="section-none bg-white">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- desktop version -->
    <div class="row desktop">
      {{ range .feature_item }}
      <div class="col-md-1">
        <img class="img-fluid" src="{{.image}}" style="height:100px; position: absolute;" />
      </div>
      <div class="col-md-5 clickable-wrapper" data-href="{{.link | relURL }}">
        <h4 class="" style="color: #005aa7; font-size:16px;">
          {{ .name | markdownify }}
        </h4>
        <p style="font-size:14px;">
          {{.content | markdownify}}
        </p>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row mobile">
      {{ range .feature_item }}
      <div class="col-12">
        <img class="img-fluid about-img-mobile" src="{{.image}}" />
      </div>
      <div class="col-12 clickable-wrapper mt-5 mb-5" data-href="{{.link | relURL }}">
        <h4 class="" style="color: #005aa7;">
          {{ .name | markdownify }}
        </h4>
        <p>
          {{.content | markdownify}}
        </p>
      </div>
      {{ end }}
    </div>
    <!-- /mobile version -->

  </div>
</section>
{{end}}
{{end}}
<!-- /Recent audits -->

<!-- Building algoprudence -->
{{ with .Params.Building_algoprudence }}
<section class="section-none bg-white">
  <div class="container mt-5">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- desktop version -->
    <div class="col-12 desktop">
      {{ range $i, $step := .steps }}
      <div class="row">
        <div class="col-3 mb-4">
          <div class="row">
            <h3 style="color: #005aa7;">
              {{ i18n "step" }} {{add $i 1}}
            </h3>
          </div>
          <div class="row">
            <p style="font-size:20px; color: #005aa7;">
              {{ .title }}
            </p>
          </div>
        </div>
        <div class="col-9">
          <div>
            <h4 class="" style="color: #005aa7;">
              {{ .name | markdownify }}
            </h4>
            <p>{{.content | markdownify}}</p>
          </div>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="row text-center">
        <div class="col-12" style="margin-top:0px;">
          <a class="btn-link" href="{{.button_link | relURL}}">
            <h3 class="btn" style="color:#ffffff; font-weight:600;">
              {{.button_text}}
            </h3>
          </a>
        </div>
      </div>
      <!-- /button -->
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="col-12 mobile">
      {{ range $i, $step := .steps }}
      <div class="row">
        <div class="col-12 mb-4">
          <div class="row mb-2">
            <h3 style="color: #005aa7;">
              {{ i18n "step" }} {{add $i 1}} – {{ .title }}
            </h3>
            <p class="mt-2">{{.content | markdownify}}</p>
          </div>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="row text-center">
        <div class="col-12" style="margin-top:0px;">
          <a class="btn-link" href="{{.button_link | relURL}}">
            <h3 class="btn" style="color:#ffffff; font-weight:600;">
              {{.button_text}}
            </h3>
          </a>
        </div>
      </div>
      <!-- /button -->
    </div>
    <!-- /mobile version -->

  </div>
</section>
{{end}}
<!-- /Building algoprudence -->

<!-- Advantages of algoprudence -->
{{ with .Params.Advantages_of_algoprudence}}
<section class="section bg-lightblue">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- advantages -->

    <!-- desktop version -->
    <div class="row desktop">
      {{ range .feature_item }}
      <div class="col-md-6 col-sm-12 mb-4 border-left-blue">
        <div class="feature-card-transparant" style="padding:30px;">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;"></i>
          <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
            {{ .name | markdownify }}
          </h4>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="col-md-6 col-sm-12 mb-4 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-12">
            <img class="img-fluid" src="{{.image}}" style="height:200px; display:block; margin:auto;" />
            <a class="btn-link" href="{{.button_link | relURL}}">
              <h3 class="btn" style="color:#ffffff; font-weight:600; margin-top:30px;">
                {{.button_text}}
              </h3>
            </a>
          </div>
        </div>
      </div>
      <!-- /button -->

    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
      {{ range .feature_item }}
      <div class="col-12 m-4 border-top-blue">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;"></i>
          <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
            {{ .name | markdownify }}
          </h4>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="col-12 mb-4 d-flex align-items-center justify-content-center" style="margin-top:60px;">
        <div class="row">
          <div class="col-12">
            <img class="img-fluid" src="{{.image}}" style="height:200px; display:block; margin:auto;" />
            <a class="btn-link" href="{{.button_link | relURL}}" style="">
              <h3 class="btn" style="color:#ffffff; font-weight:600; margin-top:50px;">
                {{.button_text}}
              </h3>
            </a>
          </div>
        </div>
      </div>
      <!-- /button -->

    </div>
    <!-- /mobile version -->

    <!-- /advantages -->

  </div>
</section>
{{end}}
<!-- /Advantages of algoprudence -->

<!-- gif animation -->
{{ with .Params.Title_gif}}
<section class="section-none bg-white">
  <div class="container pinDiv2">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- XX version -->
    <div class="row">
      <!-- algoprudence animation -->
      <div class="text-center" id="imagesequence">
        <img id="img-gif" src="/images/gif-algoprudence-frames/frame-036.png"><br>
      </div>
      <!-- /algoprudence animation -->
    </div>
    <!-- /XX version -->

  </div>
</section>
{{ end }}
<!-- /gif animation -->

{{ partial "landingpage/supportedby.html" . }}

<!-- Video -->
{{ with .Params.Title_video }}
<section class="section-none bg-white" id="movie-div">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <div class="row" style="margin-bottom:75px; display: flex; justify-content: center; align-items: center;">
      <video width="100%" height="auto" autoplay muted controls>
        {{ if .video_mp4 }}
        <source src="{{.video_mp4}}" type="video/mp4">
        {{ end }}
        {{ if .video_ogg }}
        <source src="{{.video_ogg}}" type="video/ogg">
        {{ end }}
        Your browser does not support the video tag.
      </video>
    </div>

  </div>
</section>
{{ end }}
<!-- /Video -->

{{ end }}