{{ define "main" }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script>
$(document).ready(function()
{
  var typewriter_text = "case-based normative advice for ethical algorithms";
  var text_NL = "case-based normatief advies voor ethische algoritmes";

  var location = window.location.href
  if(location.includes("nl")){
    var typewriter_text = text_NL
    console.log('NL');
  }else{
    console.log('EN');
  }

    function typeText(typewriter_text, iteration) {

        // Prevent our code executing if there are no letters left
        if (iteration === typewriter_text.length)
            return;
        
        setTimeout(function() {
            // Set the name to the current text + the next character
            // whilst incrementing the iteration variable
            $('.typewriter').text( $('.typewriter').text() + typewriter_text[iteration++] );
            
            // Re-trigger our function
            typeText(typewriter_text, iteration);
        }, 40);
    }
    
    // Call the function to begin the typing process
    typeText(typewriter_text, 0);
});

// Why we exist AI Act/DSA/GDPR etc.
$(document).on("click", ".menu2 div", function() {
	var numberIndex = $(this).index();

	if (!$(this).is("active")) {

    // add active class
		$(".menu2 div").removeClass("active");
		$(".gc ul li").removeClass("active");

    // change number index
		$(this).addClass("active");
		$(".gc ul").find("li:eq(" + numberIndex + ")").addClass("active");

    // scroll to top of overflow:auto div
    $("html, body").animate({ scrollTop: 0 }, "slow");
	}
});

// Why we exist (mobile) AI Act/DSA/GDPR etc.
$(document).on("click", ".menu3 div", function() {
	var numberIndex = $(this).index();

	if (!$(this).is("active2")) {

    // add active class
		$(".menu3 div").removeClass("active2");
		$(".gc2 ul li").removeClass("active2");

    // change number index
		$(this).addClass("active2");
		$(".gc2 ul").find("li:eq(" + numberIndex + ")").addClass("active2");

    // scroll to top of overflow:auto div
    $('.gc2').scrollTop(0);
	}
});
</script>

<!-- Banner -->
{{ with .Params.banner }}
<section class="banner gradient-background">
  <div class="container">
    <div class="row" style="display: flex; align-items: center;">

      <!-- text -->
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h1 class="mb-3" style="font-size: 36px; color: #005aa7; width:90%; margin-left: 0; margin-right: auto;">{{ .title | markdownify }} <span class="typewriter"></span></h1>
        <p class="mb-4" id="banner-text" style="margin-left: 0; margin-right: auto; padding: 10px 0 25px 0;">{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <div><a href="{{ .link | safeURL }}" title="{{ .label }}" class="btn btn-primary" style="text-transform:none;">{{ .label }}</a></div>
        {{ end }}
        {{ end }}
      </div>
      <!-- text -->

      <!-- image -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        {{with .image}}<img src="{{ . | relURL }}" alt="" class="img-fluid mt-5" style="margin-left: auto; margin-right: auto;">{{end}}
      </div>
      <!-- image -->

    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- What we do -->
{{ with .Params.What_we_do }}
{{ if .enable }}
<section class="section bg-light" style="background: linear-gradient(to left, #618EC7, #fffde4);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h2>
      </div>
      {{ range .feature_item }}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="feature-card text-center">
          <i class="{{.icon}} mb-3" style="color: #005aa7;"></i>
          <h4 class="" style="color: #005aa7;">
              {{ .name | markdownify }}
          </h4>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /What we do -->

<!-- Supported by -->
{{ with .Params.Supported_by }}
{{ range $i,$p := .Suported_by }}
<section class="section-bottom bg-white" style="background-color: #ffffff !important; padding:50px 0px 0px 0px;">
  <div class="container">
    <div class="row d-flex flex-wrap align-items-center">

      <!-- title -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <h2 class="section-title" style="font-size:16px; color: #005aa7;">{{ .title | markdownify }}</h2>
      </div>
      <!-- /title -->

      <!-- SIDN -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 inner d-flex justify-content-center sponsor">
        {{ range .img_SIDN }}
        <a href="https://www.sidnfonds.nl/projecten/ethical-risk-assessment-tool" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 100px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /SIDN -->

      <!-- EU AI&S -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 inner d-flex justify-content-center sponsor">
        {{ range .img_EUAIS }}
          <a href="https://europeanaifund.org/announcing-our-2022-open-call-grantees/" target="_blank">
            <img src="{{ . | relURL }}" style="max-height: 60px;" alt="" class="img-fluid">
          </a>
        {{ end }}
      </div>
      <!-- /EU AI&S -->

      <!-- BZK -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 inner d-flex justify-content-center sponsor">
        {{ range .img_BZK }}
          <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-binnenlandse-zaken-en-koninkrijksrelaties" target="_blank">
            <img src="{{ . | relURL }}" style="max-height: 50px;" alt="" class="img-fluid">
          </a>
        {{ end }}
      </div>
      <!-- /BZK -->

      <!-- NLAIC -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 inner d-flex justify-content-center sponsor">
        {{ range .img_NLAIC }}
        <a href="https://nlaic.com/en/" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 100px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /NLAIC -->

      <!-- HAI -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 inner d-flex justify-content-center sponsor">
        {{ range .img_HAI }}
          <a href="https://hai.stanford.edu/ai-audit-challenge-2023-finalists" target="_blank">
            <img src="{{ . | relURL }}" style="max-height: 50px;" alt="" class="img-fluid">
          </a>
        {{ end }}
      </div>
      <!-- /HAI -->

    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Supported by -->

<!-- How we work -->
{{ with .Params.How_we_work }}
{{ if .enable }}
{{ range $i,$p := .service_item }}
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4 order-1">
        <h2 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn-link" style="color: #005aa7;">{{ .label }} <i class="fas fa-arrow-right"></i></a>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-md-8 order-2 mb-4 mb-md-0">
        <div {{if gt (len .images) 1}} class="slider" {{end}}>
          {{ range .images }}
          <img src="{{ . | relURL }}" alt="" class="img-fluid">
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /How we work -->

<!-- With whom we work -->
{{ with .Params.With_whom_we_work }}
{{ if .enable }}
{{ range $i,$p := .service_item }}
<section class="section" style="background-color: #b1c4d5 !important;">
  <div class="container">
    <div class="row align-items-center">

      <!-- title -->
      <div class="col-lg-4 col-md-4 order-1">
        <h2 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h2>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | relURL }}" title="{{ .label }}" class="btn-link" style="color: #005aa7;">{{ .label }} <i class="fas fa-arrow-right"></i></a>
        {{ end }}
        {{ end }}
      </div>
      <!-- /title -->

      <!-- text -->
      <div class="col-lg-8 col-md-8 order-2 mb-4 mb-md-0">
        <div {{if gt (len .images) 1}} class="slider" {{end}}>
          <p class="mb-4" style="">{{ .content | markdownify }}</p>
        </div>
      </div>
      <!-- /text -->

    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /With whom we work -->

<!-- Why we exist -->
{{ with .Params.Why_we_exist }}
{{ if .enable }}
{{ range $i,$p := .new_items }}
<section class="section">
  <div class="container">

    <!-- title -->
    <div class="row align-items-center">
      <div class="col-12">
        <h2 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <!-- /title -->

    <!-- intro text -->
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <p>{{ .intro_content | markdownify }}</p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
    </div>
    <!-- /intro text -->

    <!-- subtitle -->
    <div class="row align-items-center">
      <div class="col-12">
        <h4 class="section-subtitle" style="color: #005aa7;">{{ .subtitle | markdownify }}</h2>
      </div>
    </div>
    <!-- /subtitle -->

    <!-- gradient bar -->
    <div class="row hide-mobile" style="margin-top:15px; padding:0px;">
      <div class="col-lg-0 col-md-0"></div>
      <div class="col-lg-10 col-md-8">
        <div class="bordertest" style="margin:0px;"></div>
      </div>
      <div class="col-lg-2 col-md-3"></div>
    </div>

    <div class="row show-mobile">
      <div class="col-sm-12 col-xs-12">
        <div class="bordertest-mobile"></div>
      </div>
    </div>
    <!-- /gradient bar -->

    <div class="row hide-mobile" style="width:100%; margin: 0px 0px 0px 0px;">
      
      <!-- menu -->
      <div class="gc col-lg-2 col-md-2" style="padding: 0px 0px 0px 10px; background-color: #F2F2F2; height: 300px;">
        <div class="menu2" style="margin-top: 20px;">
          <div class="active">
            <span style="font-size:13px;"> {{ .tab1 | markdownify }} </span>
          </div>
          <div>
            <span style="font-size:13px;"> {{ .tab2 | markdownify }} </span>
          </div>
          <div>
            <span style="font-size:13px;"> {{ .tab3 | markdownify }} </span>
          </div>
          <div>
            <span style="font-size:13px;"> {{ .tab4 | markdownify }} </span>
          </div>
          <div>
            <span style="font-size:13px;"> {{ .tab5 | markdownify }} </span>
          </div>
          <!-- <div>
            <span style="font-size:13px;"> {{ .tab6 | markdownify }} </span>
          </div> -->
        </div>
      </div>

      <!-- text -->
      <div class="gc col-lg-8 col-md-8 col-sm-8 col-xs-8" style="background-color:#f9f9f9;">
        <ul class="nacc" id="scroll-top" style="padding:10px 0px 0px 20px;">

          <!-- AI Act -->
          <li class="active" style="padding:0px 25px 0px 0px;">
            <div style="overflow-y: scroll; height:280px;">
              <p style="line-height:1.5; padding:0px;"><span>{{ .ai_act_content | markdownify }}</span></p>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a> {{ .ai_act_tag_conformity | markdownify }} <span style="color:#777777; line-height:1.5;">{{ .ai_act_content_conformity | markdownify }} </span>
              </div>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a> {{ .ai_act_tag_risk | markdownify }} <span style="color:#777777;line-height:1.5;"> {{ .ai_act_content_risk | markdownify }} </span>
              </div>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a> {{ .ai_act_tag_standards | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .ai_act_content_standards | markdownify }} </span>
              </div>
              <div style="margin-bottom:15px;">
                <a href="cases/#rotterdam-case" class="btn-link" style="color: #005aa7;"> {{ .ai_act_white_paper | markdownify }} <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </li>
          <!-- /AI Act -->
          
          <!-- DSA -->
          <li style="padding:0px 25px 0px 0px;">
            <div style="overflow-y: scroll; height:280px;">
              <p style="line-height:1.5; padding:0px;"><span> {{ .dsa_content | markdownify }} </span></p>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a> {{ .dsa_tag_risk | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .dsa_content_risk | markdownify }} </span>
              </div>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a> {{ .dsa_tag_template | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .dsa_content_template | markdownify }} </span>
              </div>
              <div style="margin-bottom:15px;">
                <a href="knowledge_base/white_paper_dsa_delegated_regulation_feedback/" class="btn-link" style="color: #005aa7;"> {{ .dsa_white_paper | markdownify }} <i class="fas fa-arrow-right"></i></a>
              </div>
              <div style="margin-bottom:15px;">
                <a style="font-weight:700;">> </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback | markdownify }} </span>
                <div style="padding-left:25px;">
                  <a style="font-weight:700;">– </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback_tab1 | markdownify }} </span>
                </div>
                <div style="padding-left:25px;">
                  <a style="font-weight:700;">– </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback_tab2 | markdownify }} </span>
                </div>
              </div>
            </div>
          </li>
          <!-- /DSA -->

          <!-- GDPR -->
          <li style="padding:0px 25px 0px 0px;">
            <div style="overflow-y: scroll; height:280px;">
              <p style="padding:0px;">{{ .gdpr_content1 | markdownify }}</p>
              <p style="padding:0px;">{{ .gdpr_content2 | markdownify }}</p>
            </div>
          </li>
          <!-- /GDPR -->

          <!-- HRIA -->
          <li style="padding:0px 25px 0px 0px;">
            <div>
              <p style="padding:0px;">{{ .hria_content | markdownify }}</p>
            </div>
          </li>
          <!-- /HRIA -->

          <!-- Regulatory landscape -->
          <li style="padding:0px 25px 0px 0px;">
            <div style="overflow-y: scroll; height:280px;">
              <p style="padding:0px;">{{ .regulator_content | markdownify }}</p>
              <div style="margin-bottom:15px;">
                <a href="knowledge_base/white_paper_algorithmic_regulatory_body/" class="btn-link" style="color: #005aa7;">Read our white paper on the Dutch regulatory landscape<i class="fas fa-arrow-right"></i></a>
              </div>
            </div>
          </li>

        </ul>
      </div>
      <!-- /text -->

      <!-- images -->
      <div class="gc col-lg-2 col-md-2" id="image-col">
        <ul class="nacc" style="">
          <li class="active">
            <div style="">
              <img src="{{ .ai_act_image | relURL }}" height="100px;">  
            </div>
          </li>
          <li>
            <img src="{{ .dsa_image | relURL }}" height="100px;">
          </li>
          <li>
            <img src="{{ .gdpr_image | relURL }}" height="100px;">
          </li>
          <li>
            <img src="{{ .hria_image | relURL }}" height="150px;">
          </li>
          <li>
            <img src="{{ .sdg_image | relURL }}" height="125px;">
          </li>
        </ul>
      </div>
      <!-- /images -->

    </div>

    <!-- mobile menu -->
    <div class="gc2 row show-mobile" style="margin: 0px 0px 0px 0px; background-color: #F2F2F2;">
      <div class="menu3 container-fluid d-flex">
        <div class="col-sm-2 col-xs-2 active2">
          <span style="font-size:12px;"> {{ .tab1 | markdownify }} </span>
        </div>
        <div class="col-sm-2 col-xs-2">
          <span style="font-size:12px;"> {{ .tab2 | markdownify }} </span>
        </div>
        <div class="col-sm-2 col-xs-2">
          <span style="font-size:12px;"> {{ .tab3 | markdownify }} </span>
        </div>
        <div class="col-sm-2 col-xs-2">
          <span style="font-size:12px;"> {{ .tab4 | markdownify }} </span>
        </div>
        <div class="col-sm-2 col-xs-2">
          <span style="font-size:12px;"> {{ .tab7 | markdownify }} </span>
        </div>
        <!-- <div class="col-sm-2 col-xs-2">
          <span style="font-size:12px;"> {{ .tab6 | markdownify }} </span>
        </div> -->
      </div>
    </div>

    <!-- mobile text -->
    <div class="gc2 row show-mobile show-mobile-height" style="margin: 0px 0px 0px 0px; background-color: #f9f9f9;">
      <div class="container-fluid" style="padding:20px 0px 0px 0px">
        <div class="col-sm-12 col-xs-12 active2" style="padding:0px">
          <ul class="nacc2" style="padding:0px 0px 0px 20px;">

            <!-- AI Act -->
            <li class="active2">
              <div style="overflow-y: scroll; height:250px;">
                <p style="line-height:1.5; padding:0px;"><span>{{ .ai_act_content | markdownify }}</span></p>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a> {{ .ai_act_tag_conformity | markdownify }} <span style="color:#777777; line-height:1.5;">{{ .ai_act_content_conformity | markdownify }} </span>
                </div>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a> {{ .ai_act_tag_risk | markdownify }} <span style="color:#777777;line-height:1.5;"> {{ .ai_act_content_risk | markdownify }} </span>
                </div>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a> {{ .ai_act_tag_standards | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .ai_act_content_standards | markdownify }} </span>
                </div>
                <div style="margin-bottom:15px;">
                  <a href="cases/#rotterdam-case" class="btn-link" style="color: #005aa7;"> {{ .ai_act_white_paper | markdownify }} <i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </li>

            <!-- DSA -->
            <li>
              <div style="overflow-y: scroll; height:250px;">
                <p style="line-height:1.5; padding:0px;"><span> {{ .dsa_content | markdownify }} </span></p>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a> {{ .dsa_tag_risk | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .dsa_content_risk | markdownify }} </span>
                </div>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a> {{ .dsa_tag_template | markdownify }} <span style="color:#777777; line-height:1.5;"> {{ .dsa_content_template | markdownify }} </span>
                </div>
                <div style="margin-bottom:15px;">
                  <a href="knowledge_base/white_paper_dsa_delegated_regulation_feedback/" class="btn-link" style="color: #005aa7;"> {{ .dsa_white_paper | markdownify }} <i class="fas fa-arrow-right"></i></a>
                </div>
                <div style="margin-bottom:15px;">
                  <a style="font-weight:700;">> </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback | markdownify }} </span>
                  <div style="padding-left:25px;">
                    <a style="font-weight:700;">– </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback_tab1 | markdownify }} </span>
                  </div>
                  <div style="padding-left:25px;">
                    <a style="font-weight:700;">– </a><span style="color:#777777; line-height:1.5;"> {{ .dsa_content_feedback_tab2 | markdownify }} </span>
                  </div>
                </div>
              </div>
            </li>

            <!-- GDPR -->
            <li>
              <div style="overflow-y: scroll; height:250px;">
                <p style="padding:0px;">{{ .gdpr_content1 | markdownify }}</p>
                <p style="padding:0px;">{{ .gdpr_content2 | markdownify }}</p>
              </div>
            </li>

            <!-- HRIA -->
            <li>
              <div style="overflow-y: scroll; height:250px;">
                <p style="padding:0px;">{{ .hria_content | markdownify }}</p>
              </div>
            </li>

            <!-- Regulatory landscape -->
            <li>
              <div style="overflow-y: scroll; height:250px;">
                <p style="padding:0px;">{{ .regulator_content | markdownify }}</p>
                <div style="margin-bottom:15px;">
                  <a href="knowledge_base/white_paper_algorithmic_regulatory_body/" class="btn-link" style="color: #005aa7;">Read our white paper on the Dutch regulatory landscape<i class="fas fa-arrow-right"></i></a>
                </div>
              </div>
            </li>
            
          </ul>

        </div>
      </div>
    </div>

  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /Why we exist -->

<!-- Contact form -->
{{ with .Params.Get_in_touch }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 content">
        <h2 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h2>
        <div class="wrapper" style="width:75%">
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>

      <!-- Form -->
      <div class="col-lg-7 mb-4 mb-lg-0">
        <form action="{{ site.Params.contact_form_action | safeURL }}" method="POST">
          <input type="text" class="form-control mb-3" id="name" name="name" placeholder="{{ i18n `yourname` }}">
          <input type="email" class="form-control mb-3" id="mail" name="mail" placeholder="{{ i18n `youremail` }}">
          <input type="text" class="form-control mb-3" id="subject" name="subject" placeholder="{{ i18n `subject` }}">
          <textarea name="message" id="message" class="form-control mb-3" placeholder="{{ i18n `yourmessage` }}"></textarea>
          <div class="wrapper" style="text-align:center;">
            <button type="submit" value="send" class="btn btn-primary">{{ i18n `sendnow` }}</button>
          </div>
        </form>
      </div>
      <!-- /Form -->

    </div>
  </div>
</section>
{{ end }}
<!-- /Contact form -->

{{ end }}
