{{ define "main" }}
<script src="/js/home_script.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"> -->

<!-- Banner -->
{{ with .Params.Banner }}
<section class="banner banner-background">
  <div class="container">
    <div class="row" style="display: flex; align-items: center;">

      <div class="col-lg-6 col-md-12 col-sm-12 order-md-1 order-lg-1">

        <!-- definition tag -->
        <div class="row" style="padding:0 30px; margin-bottom:30px;">
          <h5 class="mr-1 mb-2 px-2 py-1 mx-1" style="background-color:#005aa7;color:#fff; font-weight:100;">{{ .tag }}
          </h5>
        </div>
        <!-- /definition tag -->

        <!-- al-go-pru-dence -->
        <div class="container">
          <h2 style="color:#005aa7;">{{.title}}</h2>
          <p style="color:#005aa7; font-size: 24px;">{{.phonetica}}</p>
          <i>{{.type}}</i>
        </div>
        <div>
          <div style="margin-top:30px; padding-left:15px;">
            <p style="color:#005aa7; font-size: 18px;"> <b style="color:#005aa7;">1.</b> {{.description1}}</p>
          </div>
          <div style="margin-top:15px; padding-left:15px;">
            <p style="color:#005aa7; font-size: 18px;"> <b style="color:#005aa7;">2.</b> {{.description2}}</p>
          </div>
          <div style="margin-top:15px; padding-left:15px;">
            <p style="color:#005aa7; font-size: 18px;"> <b style="color:#005aa7;">3.</b> {{.description3}}</p>
          </div>
        </div>
      </div>
      <!-- /al-go-pru-dence -->

      <!-- image -->
      <div class="col-lg-6 col-md-12 col-sm-12 order-md-3 order-lg-2">
        <img src='{{ .image2  }}' class='img-fluid mt-5' style='margin-left: auto; margin-right: auto;'>
      </div>
      <!-- image -->
    </div>

  </div>
</section>
{{ end }}
<!-- /Banner -->

{{ with .Params.Slogan }}
<section class="banner banner-background" style="padding:0px;">
  <!-- European knowledge platform -->
  {{ range .text }}
  <div class="row pinDiv1">

    <!-- desktop version -->
    <div class="col-12 text-center desktop" style="margin-top:50px; margin-bottom:100px;">
      <div class="slider-wrapper justify-content-center">

        <!-- main -->
        <h3 style="color:#005aa7; font-weight:100;">{{.title}}</h3>
        <!-- /main -->

        <!-- slider -->
        <div class="ms-slider">
          <ul class="ms-slider__words">
            <li class="ms-slider__word">
              <div class="slider-wrapper mb-1 py-1">
                <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                    style="background-color:#005aa7;color:#fff">{{.text1}}</i></h3>
              </div>
            </li>
            <li class="ms-slider__word">
              <div class="slider-wrapper mb-1 py-1">
                <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                    style="background-color:#005aa7;color:#fff">{{.text2}}</i></h3>
              </div>
            </li>
            <li class="ms-slider__word">
              <div class="slider-wrapper mb-1 py-1">
                <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                    style="background-color:#005aa7;color:#fff">{{.text1}}</i></h3>
              </div>
            </li>
          </ul>
        </div>
        <!-- /slider -->

      </div>
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="col-12 mobile" style="margin-top:50px; padding: 0px 7.5%;">
      <div class="slider-wrapper" style="padding-left:10px;">

        <!-- main -->
        <h3 style="color:#005aa7; font-weight:100;">{{.title}}</h3>
        <!-- /main -->

      </div>
    </div>

    <!-- slider -->
    <div class="col-12 mobile" style="margin-bottom:50px; padding: 0px 7.5%;">
      <div class="ms-slider">
        <ul class="ms-slider__words">
          <li class="ms-slider__word">
            <div class="slider-wrapper mb-1 py-1">
              <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                  style="background-color:#005aa7;color:#fff">{{.text1}}</i></h3>
            </div>
          </li>
          <li class="ms-slider__word">
            <div class="slider-wrapper mb-1 py-1">
              <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                  style="background-color:#005aa7;color:#fff">{{.text2}}</i></h3>
            </div>
          </li>
          <li class="ms-slider__word">
            <div class="slider-wrapper mb-1 py-1">
              <h3 style="color:#005aa7; font-weight:100;"><i class="mr-1 mb-2 px-2 py-1 mx-1"
                  style="background-color:#005aa7;color:#fff">{{.text1}}</i></h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- slider -->
    <!-- /mobile version -->

  </div>
  {{ end }}
  <!-- /European knowledge platform -->
</section>
{{ end }}

<!-- Divider block elements -->
<div class="row" id="gradient-line-blocks">
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box1"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #FFFEE4, #F7F8E3) 1 0 0 0;"></div>
  </div>
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box2"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #F7F8E3, #E9EFE0) 1 0 0 0;"></div>
  </div>
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box3"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #E9EFE0, #D2DEDC) 1 0 0 0;"></div>
  </div>
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box4"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #D2DEDC, #B4C8D5) 1 0 0 0;"></div>
  </div>
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box5"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #B4C8D5, #8FAFD0) 1 0 0 0;"></div>
  </div>
  <div class="col-2 divider-blocks">
    <div class="row upper-blocks" id="box6"></div>
    <div class="row lower-blocks justify-content-center border-gradient"
      style="border-image:linear-gradient(to right, #8FAFD0, #618EC7) 1 0 0 0;"></div>
  </div>
</div>
<!-- /Divider block elements -->

<!-- Activity Feed -->
{{ with .Params.Activity_Feed}}
{{ if .enable }}
<section class="section-top">
  <div class="container" style="background-color: #eef2f6;">
    <div class="row align-items-center">

      <!-- desktop version -->
      <div class="mx-4 col order-1 desktop">

        <!-- Featured activities -->
        {{ if .featured_activities }}
        <div class="row mt-5">
          <!-- title featured section -->
          <h3 class="section-title col-md-4" style="color: #005aa7;">{{ i18n "featured" }}</h3>
          <!-- /title featured section -->
        </div>

        {{ range .featured_activities }}
        <div class="clickable-wrapper" data-href="{{.link | relURL }}">
          <div class="row p-5" style="background-color: #ffffff;">
            <div class="col-3 pr-4">
              <img class="img-fluid" style="height:200px; position:absolute;" src="{{.image}}" />
            </div>
            <div class="col-9">
              <div class="row align-items-center">

                <!-- title featured article -->
                <h3 class="mb-2" style="color: #005aa7;">{{.title}}</h3>
                <!-- /title featured article -->

                <p style="color: #777">
                  {{.intro | markdownify}}
                  <a href="{{.link | relURL}}">{{ i18n "read_more" }}</a>
                </p>
              </div>
              <div class="row" style="position:relative;">
                {{ if .date }}
                <span style="color:#005aa7;" class="mr-1 mb-2 px-0 py-1 mx-0">
                  {{.date }}
                </span>
                {{ end }}
                {{ if .type }}
                <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                  {{ .type }}
                </span>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
        {{end}}
        {{end}}
        <!-- /Featured Activities -->

        <!-- Activities -->
        {{ if .activities }}
        <div class="row mt-5">
          <!-- title recent activities section -->
          <h3 class="section-title col-md-4" style="color: #005aa7;">{{ i18n "recent-activity" }}</h3>
          <!-- /title recent activities section -->
        </div>
        {{ range .activities }}
        <a href="{{ .link | relURL }}">
          <div class="row justify-content-between my-4">
            <div class="col-2 mr-4 box p-0 mt-0" style="background-color: #ffffff;">
              <img class="img-fluid about-img p-5"  src="{{.image}}" />
            </div>
            <div class="col" style="background-color: #ffffff;">
              <div class="row align-items-center">
                <h4 class="my-4 mx-3" style="color: #005aa7;">
                  {{.title}}
                </h4>
              </div>
              <div class="row" style="position: relative; bottom: 0;">
                {{ if .date }}
                <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                  {{.date }}
                </span>
                {{ end }}
                {{ if .type }}
                <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                  {{ .type }}
                </span>
                {{ end }}
              </div>
            </div>
          </div>
        </a>
        {{end}}
        {{end}}
        <!-- /Activities -->

        <!-- More -->
        <div class="row mt-4 pb-3 justify-content-center d-flex">
          <a href="{{.view_all_link}}"><label class="btn">{{.view_all_text}}</label></a>
        </div>
        <!-- /More -->


      </div>
      <!-- /desktop version -->

     <!-- mobile version -->
     <div class="mx-4 col order-1 mobile">

      <!-- Featured activities -->
      {{ if .featured_activities }}
      <div class="row mt-5">
        <h3 class="section-title col-md-4" style="color:#005aa7;">{{ i18n "featured" }}</h3>
      </div>
      {{ range .featured_activities }}
      <div class="clickable-wrapper" data-href="{{.link | relURL }}">
        <div class="row p-5" style="background-color: #ffffff;">
          <div class="col-12 pr-4" style="margin-bottom:50px;">
            <img class="img-fluid about-img-mobile" src="{{.image}}" />
          </div>
          <div class="col-12">
            <div class="row align-items-center">

              <!-- title -->
              <h3 class="mb-2" style="color:#005aa7;">{{.title}}</h3>
              <!-- /title -->

              <p style="color: #777">{{.intro | markdownify}} 
                <a href="{{.link | relURL}}">{{ i18n "read_more" }}</a>
              </p>
            </div>
            <div class="row" style="position:relative;">
              {{ if .date }}
              <span style="color:#005aa7;" class="mr-1 mb-2 px-0 py-1 mx-0">
                {{.date }}
              </span>
              {{ end }}
              {{ if .type }}
              <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                {{ .type }}
              </span>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{end}}
      {{end}}
      <!-- /Featured Activities -->

      <!-- Activities -->
      {{ if .activities }}
      <div class="row mt-5">

        <!-- title -->
        <h3 class="section-title col-12" style="color: #005aa7;">{{ i18n "recent-activity" }}</h3>
        <!-- /title -->

      </div>
      {{ range .activities }}
      <a href="{{ .link | relURL }}">
        <div class="row my-4">
          <div class="col-12" style="background-color: #ffffff;">
            <img class="img-fluid about-img-mobile p-5"  src="{{.image}}" />
          </div>
          <div class="col-12" style="background-color: #ffffff;">
            <div class="row align-items-center p-3">
              <h4 class="my-4 mx-3" style="color: #005aa7;">
                {{.title}}
              </h4>
            </div>
            <div class="row pl-4 mb-3" style="position:relative; bottom:0;">
              {{ if .date }}
              <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                {{.date }}
              </span>
              {{ end }}
              {{ if .type }}
              <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                {{ .type }}
              </span>
              {{ end }}
            </div>
          </div>
        </div>
      </a>
      {{end}}
      {{end}}
      <!-- /Activities -->

      <!-- More -->
      <div class="row mt-4 pb-3 justify-content-center d-flex">
        <a href="{{.view_all_link}}"><label class="btn">{{.view_all_text}}</label></a>
      </div>
      <!-- /More -->


    </div>
    <!-- /mobile version -->

    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Activity Feed -->

<!-- Supported by -->
{{ with .Params.Supported_by }}
{{ range $i,$p := .Suported_by }}
<section class="section bg-white">
  <div class="container">

    <div class="row d-flex flex-wrap align-items-center">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <!-- title -->
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
        <!-- /title -->
      </div>

      <!-- SIDN -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 my-5 inner d-flex justify-content-center sponsor">
        {{ range .img_SIDN }}
        <a href="https://www.sidnfonds.nl/projecten/ethical-risk-assessment-tool" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 100px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /SIDN -->

      <!-- EU AI&S -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 my-5 inner d-flex justify-content-center sponsor">
        {{ range .img_EUAIS }}
        <a href="https://europeanaifund.org/announcing-our-2022-open-call-grantees/" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 60px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /EU AI&S -->

      <!-- BZK -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 my-5 inner d-flex justify-content-center sponsor">
        {{ range .img_BZK }}
        <a href="https://www.rijksoverheid.nl/ministeries/ministerie-van-binnenlandse-zaken-en-koninkrijksrelaties"
          target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 50px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /BZK -->

      <!-- NLAIC -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 my-5 inner d-flex justify-content-center sponsor">
        {{ range .img_NLAIC }}
        <a href="https://nlaic.com/en/" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 100px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /NLAIC -->

      <!-- HAI -->
      <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 my-5 inner d-flex justify-content-center sponsor">
        {{ range .img_HAI }}
        <a href="https://hai.stanford.edu/ai-audit-challenge-2023-finalists" target="_blank">
          <img src="{{ . | relURL }}" style="max-height: 50px;" alt="" class="img-fluid">
        </a>
        {{ end }}
      </div>
      <!-- /HAI -->

    </div>

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Supported by -->

<!-- Building AI auditing capacity from a not-for-profit perspective -->
<section class="section bg-white" style="margin:100px 0px;">
  <div class="container">

    <!-- desktop version -->
    <div class="col-12 text-center desktop">
      <h1 style="color:#005aa7; font-weight:100;">
        <div>
          Building
          <i class="mr-1 mb-2 px-3 py-1 mx-1" style="background-color:#005aa7;color:#fff">AI auditing</i>
          capacity from a
        </div>
        <br>
        <div>
          from a
          <i class="mr-1 mb-2 px-3 py-1 mx-1" style="background-color:#005aa7;color:#fff">not-for-profit</i>
          perspective
        </div>
      </h1>
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="col-12 text-center mobile">
      <h1 style="color:#005aa7; font-weight:100;">
        <div>
          Building
          <i class="mr-1 mb-2 px-3 py-1 mx-1" style="background-color:#005aa7;color:#fff">AI auditing</i>
        </div>
        <div class="p-5">
          capacity from a
        </div>
        <div>
          <i class="mr-1 mb-2 px-3 py-1 mx-1" style="background-color:#005aa7;color:#fff">not-for-profit</i>
          perspective
        </div>
      </h1>
    </div>
    <!-- /mobile version -->

  </div>
</section>
<!-- /Building AI auditing capacity from a not-for-profit perspective -->

<!-- Distinctive in -->
{{ with .Params.Distincive_in }}
{{ if .enable }}
<section class="section bg-blue">
  <div class="container">

    <!-- title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color:white;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /title -->

    <!-- distinctive in elements -->

    <!-- desktop version -->
    <div class="row justify-content-center desktop" style="margin-bottom: 50px;">
      {{$width_m := 4}}
      {{$width_s := 2}}
      {{if .width_m}}
      {{$width_m = .width_m}}
      {{end}}
      {{if .width_s}}
      {{$width_s = .width_s}}
      {{end}}
      {{ range .feature_item }}
      <div class="col-md-{{$width_m}} col-sm-{{$width_s}} mb-4 border-left-white">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color:white; display:inline-block; font-size:22px;">
            <h4 class=""
              style="color:white; display:inline-block; padding-left:10px; font-weight:100; font-size:18px;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p style="color:white;">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
      {{ range .feature_item }}
      <div class="col-12 py-4 border-top">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color:white; display:inline-block; font-size:22px;">
            <h4 style="color:white; display:inline-block; padding-left:10px; font-weight:100;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p style="color:white;">{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /mobile version -->


    <!-- /distinctive in elements -->

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Distinctive in -->


<!-- Areas of AI expertise -->
{{ with .Params.areas_of_ai_expertise }}
{{ if .enable }}
<section class="section bg-white">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- areas of AI expertise -->

    <!-- desktop version -->
    <div class="row justify-content-center desktop">
      {{$width_m := 4}}
      {{$width_s := 2}}
      {{if .width_m}}
      {{$width_m = .width_m}}
      {{end}}
      {{if .width_s}}
      {{$width_s = .width_s}}
      {{end}}
      {{ range .feature_item }}
      <div class="col-md-{{$width_m}} col-sm-{{$width_s}} mb-4 border-left-blue">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;">
            <h4 class=""
              style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
              {{ .name | markdownify }}
            </h4>
          </i>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
    {{ range .feature_item }}
    <div class="col-12 m-4 border-top-blue">
      <div class="feature-card-transparant">
        <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;">
          <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
            {{ .name | markdownify }}
          </h4>
        </i>
        <p>{{ .content | markdownify }}</p>
      </div>
    </div>
    {{ end }}
  </div>
  <!-- /mobile version -->

    <!-- /areas of AI expertise -->

    <!-- Button -->
    <div class="row text-center">
      <div class="col-12" style="margin-top:25px;">
        <a class="btn-link" href="">
          <h3 class="btn" style="color:#ffffff;">{{.submit_case_text}}</h3>
        </a>
      </div>
    </div>
    <!-- /Button -->
  </div>
</section>
{{end}}
<!-- /Areas of AI expertise -->

<!-- Recent audits -->
{{with .recent_audits}}
<section class="section-none bg-white">
  <div class="container">

    <!-- Title -->
    <div class="row">
      <div class="col-12">
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
      </div>
    </div>
    <!-- /Title -->

    <!-- desktop version -->
    <div class="row desktop">
      {{ range .feature_item }}
      <div class="col-md-1">
        <img class="img-fluid" src="{{.image}}" style="height:100px; position: absolute;" />
      </div>
      <div class="col-md-5 clickable-wrapper" data-href="{{.link | relURL }}">
        <h4 class="" style="color: #005aa7; font-size:16px;">
          {{ .name | markdownify }}
        </h4>
        <p style="font-size:14px;">
          {{.content | markdownify}}
        </p>
      </div>
      {{ end }}
    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row mobile">
      {{ range .feature_item }}
      <div class="col-12">
        <img class="img-fluid about-img-mobile" src="{{.image}}"/>
      </div>
      <div class="col-12 clickable-wrapper mt-5 mb-5" data-href="{{.link | relURL }}">
        <h4 class="" style="color: #005aa7;">
          {{ .name | markdownify }}
        </h4>
        <p>
          {{.content | markdownify}}
        </p>
      </div>
      {{ end }}
    </div>
    <!-- /mobile version -->

  </div>
</section>
{{end}}
{{end}}
<!-- /Recent audits -->

<!-- Building algoprudence -->
{{ with .Params.how_we_build_algoprudence }}
<section class="section-none bg-white">
  <div class="layer" style="background-color: #ffffff;">
    <div class="container mt-5">
      <div class="row">

        <!-- title -->
        <h3 class="section-title" style="color:#005aa7;">{{.title | markdownify}}</h3>
        <!-- /title -->

        <!-- desktop version -->
        <div class="col-12 desktop">
          {{ range $i, $step := .steps }}
          <div class="row">
            <div class="col-3 mb-4">
              <div class="row">
                <h3 style="color: #005aa7;">
                  {{ i18n "step" }} {{add $i 1}}
                </h3>
              </div>
              <div class="row">
                <p style="font-size:20px; color: #005aa7;">
                  {{ .title }}
                </p>
              </div>
            </div>
            <div class="col-9">
              <div>
                <h4 class="" style="color: #005aa7;">
                  {{ .name | markdownify }}
                </h4>
                <p>{{.content | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}

          <!-- button -->
          <div class="row text-center">
            <div class="col-12" style="margin-top:0px;">
              <a class="btn-link" href="">
                <h3 class="btn" style="color:#ffffff; font-weight:600;">
                  {{.button_text}}
                </h3>
              </a>
            </div>
          </div>
          <!-- /button -->
        </div>
        <!-- /desktop version -->

        <!-- mobile version -->
        <div class="col-12 mobile">
          {{ range $i, $step := .steps }}
          <div class="row">
            <div class="col-12 mb-4">
              <div class="row mb-2">
                <h3 style="color: #005aa7;">
                  {{ i18n "step" }} {{add $i 1}} – {{ .title }}
                </h3>
                <p class="mt-2">{{.content | markdownify}}</p>
              </div>
            </div>
          </div>
          {{ end }}

          <!-- button -->
          <div class="row text-center">
            <div class="col-12" style="margin-top:0px;">
              <a class="btn-link" href="">
                <h3 class="btn" style="color:#ffffff; font-weight:600;">
                  {{.button_text}}
                </h3>
              </a>
            </div>
          </div>
          <!-- /button -->
        </div>
        <!-- /mobile version -->

      </div>
    </div>
  </div>
</section>
{{end}}
<!-- /Building algoprudence -->

<!-- Advantages of algoprudence -->
{{ with .Params.advantages_of_algoprudence}}
<section class="section bg-lightblue" >
  <div class="container">

    <div class="row" style="padding:50px 0px;">
      <!-- title -->
      <h3 style="color: #005aa7;">{{.title | markdownify }}</h3>
      <!-- /title -->
    </div>

    <!-- advantages -->

    <!-- desktop version -->
    <div class="row desktop">
      {{ range .feature_item }}
      <div class="col-md-6 col-sm-12 mb-4">
        <div class="feature-card-transparant" style="padding:30px;">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;"></i>
          <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
            {{ .name | markdownify }}
          </h4>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="col-md-6 col-sm-12 mb-4">
        <div class="text-center">
          <a class="btn-link" href="">
            <h3 class="btn" style="color:#ffffff; font-weight:600;">
              {{.button_text}}
            </h3>
          </a>
        </div>
      </div>
      <!-- /button -->

    </div>
    <!-- /desktop version -->

    <!-- mobile version -->
    <div class="row justify-content-center mobile">
      {{ range .feature_item }}
      <div class="col-12 m-4 border-top-blue">
        <div class="feature-card-transparant">
          <i class="{{.icon}} mb-3" style="color: #005aa7; display:inline-block; font-size:22px;"></i>
          <h4 style="color:#005aa7; display:inline-block; padding-left:10px; font-weight:100;">
            {{ .name | markdownify }}
          </h4>
          <p>{{.content | markdownify}}</p>
        </div>
      </div>
      {{ end }}

      <!-- button -->
      <div class="col-12 mb-4">
        <div class="text-center">
          <a class="btn-link" href="">
            <h3 class="btn" style="color:#ffffff; font-weight:600;">
              {{.button_text}}
            </h3>
          </a>
        </div>
      </div>
      <!-- /button -->

    </div>
    <!-- /mobile version -->

    <!-- /advantages -->

  </div>
</section>
{{end}}
<!-- /Advantages of algoprudence -->

<!-- gif animation -->
{{ with .Params.title_gif}}
<section class="section-none bg-white">
  <div class="container">
    <div class="row">

      <div class="container pinDiv2">
        
        <div class="row">
          <!-- title -->
          <h3 style="color: #005aa7;">{{.title | markdownify }}</h3>
          <!-- /title -->
        </div>

        <!-- algoprudence animation -->
        <div class="row" style="display: flex; justify-content:center; align-items:center; margin-top:50px;">
          <div id="imagesequence">
            <img id="myimg" width="800px" src="/images/algoprudence-frames/frame-036.png"><br>
          </div>
        </div>
      </div>
      <!-- /algoprudence animation -->

    </div>
  </div>
</section>
{{ end }}
<!-- /gif animation -->

<!-- Video -->
{{ with .Params.TheMovie }}
<section class="section-none bg-white" style="margin-top:700px;">
  <div class="container">
    <div class="row">
      <!-- title -->
      <h3 style="color: #005aa7;">{{.title}}</h3>
      <!-- /title -->
    </div>
    <div class="row" style="margin-bottom:75px; display: flex; justify-content: center; align-items: center;">
      <a class="shortcode-vimeo" href="https://vimeo.com/890443546?autoplay=1">
        <img src="/images/cover.png" width="600px" />
        <span class="playbutton"></span>
      </a>
    </div>
  </div>
</section>
{{ end }}
<!-- /Video -->

<!-- Newsletter -->
{{ with .Params.Get_in_touch }}
<section class="section bg-lightblue">
  <div class="container">

    <div id="row mc_embed_shell">
      <div id="mc_embed_signup">
        <form action="https://algorithmaudit.us14.list-manage.com/subscribe/post?u=0c1760b246d5b08459fab1089&amp;id=38c5b7c211&amp;f_id=00cda8e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll">
            <h3 style="color:#005aa7; font-family:avenir; font-size:24px;">Subscribe for our newsletter</h3>

            <!-- mail address -->
            <div class="col-12 mc-field-group" style="color:#005aa7; font-family:avenir; font-size:18px;">
              <label for="mce-EMAIL">Mail address</label>
              <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
            </div>
            <!-- /mail address -->

            <!-- responses -->
            <div id="col-12 mce-responses" class="clear">
              
              <!-- error response -->
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <!-- /error response -->

              <!-- succes response -->
              <div class="response" id="mce-success-response" style="display: none;"></div>
              <!-- /succes response -->

            </div>
            <!-- /responses -->

            <!-- ?? -->
            <div class="col-12" aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" name="b_0c1760b246d5b08459fab1089_38c5b7c211" tabindex="-1" value="">
            </div>
            <!-- /?? -->

            <!-- button -->
            <div class="clear btn" style="margin-top:15px;">
              <input type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe" style="background-color:#005aa7; font-family:avenir; font-size:16px; font-weight: 600;">
            </div>
            <!-- /button -->
          </div>
        </form>
      </div>
      <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>

    </div>
  </div>

</section>
{{ end }}
<!-- /Newsletter -->

{{ end }}