<!-- Activity Feed -->
{{ with .Params.Activity_Feed}}
<!-- Featured activities -->
<section class="activitifeed-section pb-5 mt-5" id="featured">
  <div class="container border-bottom-gradient rounded-lg" style="background-color:#deecf7;">
    <div class="row align-items-center">
      <div class="mx-4 col order-1">
        {{ if .featured_activities }}
        <div class="row mt-5">
          <!-- title featured section -->
          <h3 class="color-blue section-title">{{ .featured_title }}</h3>
          <!-- /title featured section -->
        </div>

        <div class="row justify-content-between">
          {{ range $index, $item := .featured_activities }}
          <div class="col-lg col-12">
            <a href="{{$item.link | relURL }}">
              <div class="row p-5 bg-white {{if eq $index 0}}mr-lg-2 mb-3 mb-lg-0{{else}}ml-lg-2 mt-3 mt-lg-0{{end}}">
                <!-- image -->
                <div class="col-lg-3 col-12 p-0 pr-4">
                  <img class="featured-img img-fluid d-block mx-auto mb-5 mb-lg-0" src="{{$item.image}}" />
                </div>
                <!-- /image -->

                <div class="col-lg-9 col-12">
                  <div class="row align-items-center">

                    <!-- title featured article -->
                    <h3 class="mb-2" style="color: #005aa7;">{{$item.title}}</h3>
                    <!-- /title featured article -->

                    <!-- intro text -->
                    <p style="color: #777;">
                      {{$item.intro | markdownify}}
                      <span style="color: #005aa7;">{{ i18n "read_more" }}</span>
                    </p>
                    <!-- intro text -->
                  </div>

                  <!-- metadata -->
                  <div class="row" style="position:relative;">
                    {{ if $item.date }}
                    <span class="highlight-red">
                      {{$item.date }}
                    </span>
                    {{ end }}
                    {{ if $item.type }}
                    <span class="highlight-red">
                      {{ $item.type }}
                    </span>
                    {{ end }}
                  </div>
                  <!-- /metadata -->

                </div>
              </div>
            </a>
          </div>
          {{end}}
        </div>

        <!-- More -->
        <div class="row mt-4 pb-3 justify-content-center d-flex">
          <a href="{{.featured_button_link}}"><label class="btn">{{.featured_button_text}}</label></a>
        </div>
        <!-- /More -->
        {{end}}
      </div>
    </div>
  </div>
</section>
<!-- /Featured Activities -->

<!-- Items -->
<section class="activitifeed-section pt-5 mt-2" id="events">
  <div class="container border-bottom-gradient rounded-lg" style="background-color:#deecf7;">
    <div class="row align-items-center">
      <div class="mx-4 col order-1">
        <!-- Activities -->
        {{ if .activities }}
        <div class="row mt-5">
          <!-- title recent activities section -->
          <h3 style="color: #005aa7;">{{ .items_title }}</h3>
          <!-- /title recent activities section -->
        </div>
        {{ range .activities }}
        <a href="{{ .link | relURL }}" target="_blank">
          <div class="row justify-content-between my-4 m-0">
            <!-- image -->
            <div class="col-12 col-lg-2 p-0 mt-0 text-center bg-white">
              <img class="img-fluid img-event p-2" src="{{.image}}" />
            </div>
            <!-- /image -->

            <div class="col ml-lg-5 bg-white">
              <div class="row align-items-center">
                  <h4 class="my-4 ml-4 color-blue">
                      {{.title}}
                  </h4>
              </div>
              <div class="row pl-3">
                  {{ if .date }}
                  <span class="mt-3 mb-4 ml-3 highlight-red-sm">
                      {{ .date }}
                  </span>
                  {{ end }}
                  {{ if .type }}
                  <span class="mt-3 mb-4 ml-3 highlight-red-sm">
                    {{ .type }}
                  </span>
                  {{ end }}
              </div>
            </div>
          </div>
        </a>
        {{end}}
        {{end}}
        <!-- /Activities -->

        <!-- More -->
        <div class="row mt-4 pb-3 justify-content-center d-flex">
          <a href="{{.items_button_link}}"><label class="btn">{{.items_button_text}}</label></a>
        </div>
        <!-- /More -->


      </div>

    </div>
  </div>
</section>
<!-- /Items -->
{{ end }}
<!-- /Activity Feed -->