<!-- Activity Feed -->
{{ with .Params.Activity_Feed}}
{{ if .enable }}
<section class="activitifeed-section mt-5" id="featured">
  <div class="container" style="background-color:#deecf7;">
    <div class="row align-items-center">

      <div class="mx-4 col order-1">

        <!-- Featured activities -->
        {{ if .featured_activities }}
        <div class="row mt-5">
          <!-- title featured section -->
          <h3 class="section-title" style="color: #005aa7;">{{ i18n "featured" }}</h3>
          <!-- /title featured section -->
        </div>

        {{ range .featured_activities }}
        <a class="" href="{{.link | relURL }}">
          <div class="row justify-content-between clickable-wrapper p-5" style="background-color: #ffffff;">

            <!-- image -->
            <div class="col-lg-3 col-12 pr-4">
              <img class="featured-img img-fluid d-block mx-auto mb-5 mb-lg-0" src="{{.image}}" />
            </div>
            <!-- /image -->

            <div class="col-lg-9 col-12">
              <div class="row align-items-center">

                <!-- title featured article -->
                <h3 class="mb-2" style="color: #005aa7;">{{.title}}</h3>
                <!-- /title featured article -->

                <!-- intro text -->
                <p style="color: #777;">
                  {{.intro | markdownify}}
                  <span style="color: #005aa7;">{{ i18n "read_more" }}</span>
                </p>
                <!-- intro text -->
              </div>

              <!-- metadata -->
              <div class="row" style="position:relative;">
                {{ if .date }}
                <span class="highlight-red">
                  {{.date }}
                </span>
                {{ end }}
                {{ if .type }}
                <span class="highlight-red">
                  {{ .type }}
                </span>
                {{ end }}
              </div>
              <!-- /metadata -->

            </div>
          </div>
        </a>
        {{end}}
        {{end}}
        <!-- /Featured Activities -->

        <!-- Activities -->
        {{ if .activities }}
        <div class="row mt-5">
          <!-- title recent activities section -->
          <h3 class="section-title" style="color: #005aa7;">{{ i18n "recent-activity" }}</h3>
          <!-- /title recent activities section -->
        </div>
        {{ range .activities }}
        <a href="{{ .link | relURL }}">

          <div class="row justify-content-between mb-lg-4 my-4 my-lg-0">

            <!-- image -->
            <div class="col-12 col-lg-3 pt-5 p-lg-0 bg-white landinge-page-activityfeed-activity-image-wrapper">
              <img class="img-fluid landinge-page-activityfeed-activity-image p-lg-5" src="{{.image}}" />
            </div>
            <!-- /image -->

            <!-- title -->
            <div class="col-12 col-lg-9 py-5 bg-white">
              <div class="px-3 row align-items-center">
                <h4 class="my-4 ml-3 mr-5" style="color: #005aa7;">
                  {{.title}}
                </h4>
              </div>
              <!-- /title -->

              <!-- metadata -->
              <div class="px-3 row" style="position: relative; bottom: 0;">
                {{ if .date }}
                <span class="ml-3 highlight-red-sm">
                  {{.date }}
                </span>
                {{ end }}
                {{ if .type }}
                <span class="ml-3 highlight-red-sm">
                  {{ .type }}
                </span>
                {{ end }}
              </div>
              <!-- /metadata -->
            </div>
          </div>
        </a>
        {{end}}
        {{end}}
        <!-- /Activities -->

        <!-- More -->
        <div class="row mt-4 pb-3 justify-content-center d-flex">
          <a href="{{.button_link}}"><label class="btn">{{.button_text}}</label></a>
        </div>
        <!-- /More -->


      </div>

    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Activity Feed -->