<!-- Supported by -->
{{ if .Params.Supported_by }}
{{ with .Params.Supported_by }}
<section class="section bg-white">
  <div class="container">

    <div class="row d-flex flex-wrap align-items-center">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <!-- title -->
        <h3 class="section-title" style="color: #005aa7;">{{ .title | markdownify }}</h3>
        <!-- /title -->
      </div>

      {{ range .funders }}
      <div class="col-lg-4 col-md-6 col-12 my-5">
        <a href="{{.link}}" target="_blank">
          <img src="{{ .image | relURL }}" class="d-block mx-auto img-fluid collaberating_logo" alt="{{.alt_text}}" class="">
        </a>
      </div>
      {{ end }}
    </div>

  </div>
</section>
{{ end }}
{{ end }}
<!-- /Supported by -->