.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #305494;

  &:hover {
    text-decoration: underline;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}

.header-blue {
  position: fixed;
  background-color: #7f98c8;
  z-index: 9999;
}