.nav-item {
  margin: 0;

  .nav-link {
    // text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #005aa7;site-header

  &:hover {
    color: #fffde4;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}

.gradient-background{
  background: linear-gradient(to left, #618EC7, #fffde4);
}

.navigation{
  height: 10%;
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}


#header-navigation {
  background: linear-gradient(to left, #618EC7, #fffde4);
}

@media (max-width: 992px) {
  #navigation {
    background: linear-gradient(to left, #618EC7, #fffde4);
  }
}

@media (max-width: 992px) {
  #header-navigation {
    padding: 0;
  }
}

@media (max-width: 992px) {
  #header-containers {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .navbar-brand {
    padding-left: 10%;
  }
}

