.nav-item {
  margin: 0;

  .nav-link {
    // text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #005aa7;

  &:hover {
    color: #fffde4;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

#select-language{
  background-color: transparent;
  font-weight: 700;
}

.gradient-background{
  background: linear-gradient(to left, #618EC7, #fffde4);
}

.nav-wrapper {
  height: 12%;
  position: fixed;
  z-index: 9999;
  padding: 0;
}

.navbar-collapse{
  // background: linear-gradient(to left, #618EC7, #fffde4);
}

.navigation{
  height: 12%;
}