<div class="ac mb-4 py-4 algoprudence-article">
    <div class="ac-header grid pr-3">
        <div id={{.Get "id"}} class="ac-trigger p-0">
            <div class="row justify-content-center align-items-center m-0">
                <div class="col-12 col-lg-2 text-center">
                    <img class="img-fluid img-action" src={{.Get "image"}} />
                </div>
                <div class="col pt-3 pb-5 px-5">
                    <div class="row align-items-center">
                        <h4 class="mb-4 mx-3" style="color: #005aa7;">
                            {{.Get "title"}}
                        </h4>
                    </div>
                    <div class="row"
                        style="position: absolute; bottom: 0; font-weight: 300; font-size: 15px;">
                        {{ $date := .Get "date" }}
                        {{ if $date }}
                        <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                            {{ $date }}
                        </span>
                        {{ end }}

                        {{ $facet := .Get "tag1" }}
                        {{ if $facet }}
                        <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                            {{ $facet }}
                        </span>
                        {{ end }}
                        {{ $facet := .Get "tag2" }}
                        {{ if $facet }}
                        <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                            {{ $facet }}
                        </span>
                        {{ end }}
                        {{ $facet := .Get "tag3" }}
                        {{ if $facet }}
                        <span style="background-color: #005aa7; color: #ffffff;" class="mr-1 mb-2 px-2 py-1 mx-1">
                            {{ $facet }}
                        </span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <!-- foldable panel -->
        <div class="ac-panel">
            <div class="row justify-content-between ac-text p-0">
                <div class="col-0 col-lg-2">
                </div>
                <div class="col-12 col-lg-10 py-4 px-5" style="background-color:{{.Get "background_color"}};">
                    