{{ with .Page }}

{{ $split_char := " " }}

<!-- Tab header -->
<div class="row">
    <div class="col-lg-10 mx-auto">
        {{ $width := 12 }}
        {{ if or .Params.actions .Params.discussions }}
        {{ $width = 6 }}
        {{ end }}
        {{ if and .Params.actions .Params.discussions }}
        {{ $width = 4 }}
        {{ end }}
        <div class="row tab">
            <button class="col-sm-12 col-md-{{$width}} tablinks" onclick="openTab(event, 'description_tab')" id="defaultOpen">
                <h4 class="py-3 hover-white">{{ i18n "algoprudence_description_tab" }}</h4>
            </button>
            {{ if .Params.actions }}
            <button class="col-sm-12 col-md-{{$width}} tablinks" onclick="openTab(event, 'actions_tab')">
                <h4 class="py-3 hover-white">{{ i18n "algoprudence_actions_tab" }}</h4>
            </button>
            {{ end }}
            {{ if .Params.discussions }}
            <button class="col-sm-12 col-md-{{$width}} tablinks" onclick="openTab(event, 'discussions_tab')">
                <h4 class="py-3 hover-white">{{ i18n "algoprudence_discussion_tab" }}</h4>
            </button>
            {{ end }}
        </div>
    </div>
</div>
<!-- /Tab header -->

<!-- Description of algoprudence -->
<div class="row tabcontent" id="description_tab">
    <div class="col-lg-10 mx-auto p-0">
        <div class="content">
            {{ $algoprudence := .Params }}
            <div class="p-5 shadow rounded-lg" style="display:table;">

                <!-- title -->
                <h3 class="mb-4 pl-0">
                    {{if $algoprudence.icon}}
                    <i class="fas {{$algoprudence.icon}} mr-3"></i>
                    {{end}}
                    {{$algoprudence.title | markdownify }}
                </h3>

                <!-- content -->
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <!-- Key takeaways -->
                        {{ if $algoprudence.key_takeaways }}
                        <div style="margin-top:25px;">
                            <h4>{{ i18n "key_takeaways_normative_advice_commission" }}</h4>
                            <div class="row" style="margin: 0px 0px 10px 0px;">
                                {{ range $takeaway_index, $takeaway := $algoprudence.key_takeaways }}
                                <div class="grid">
                                    <div class="row ml-0 mr-0">
                                        <span
                                            style="color:#005aa7; font-size:16px; font-weight: bold; margin: 25px 0px 0px 0px;">>
                                            {{$takeaway.title}}
                                        </span>
                                    </div>
                                    <div class="row ml-0 mr-0">
                                        <p class="center-vert mb-0" style="font-size: 16px;">
                                            {{$takeaway.content | markdownify}}
                                        </p>
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}

                        <!-- Summary advice -->
                        {{if $algoprudence.summary}}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{ i18n "summary-advice" }}</h4>
                            <!-- content -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="display:table; padding-left:0px;">
                                <p class="center-vert" style="font-size: 16px;">
                                    {{$algoprudence.summary | markdownify }}
                                </p>
                            </div>
                        </div>
                        {{end}}

                        <!-- Source of case -->
                        {{ if $algoprudence.sources }}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{ i18n "source_of_case"}}</h4>
                            <!-- content -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="display:table; padding-left:0px;">
                                <p class="center-vert" style="font-size: 16px;">
                                    {{$algoprudence.sources | markdownify}}
                                </p>
                            </div>
                        </div>
                        {{end}}

                        <!-- Additional Content -->
                        {{ if $algoprudence.additional_content }}
                        {{ range $additional_content_index, $additional_content :=
                        $algoprudence.additional_content }}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{$additional_content.title}}</h4>
                            <!-- content -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                                style="display:table; padding-left:0px;">
                                <p class="center-vert" style="font-size: 16px;">
                                    {{$additional_content.content | markdownify}}
                                </p>
                            </div>
                            <!-- image -->
                            {{if $additional_content.image}}
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex my-3 justify-content-center"
                                style="display:table;">
                                <img class="" style="height:200px;" src="{{ $additional_content.image }}">
                            </div>
                            {{end}}
                        </div>
                        {{end}}
                        {{end}}

                        <!-- Algoprudence -->
                        {{ if $algoprudence.algoprudence }}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{$algoprudence.algoprudence.title}}</h4>
                            <!-- content -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:0px;">
                                <p class="center-vert" style="font-size: 16px;">
                                    {{$algoprudence.algoprudence.intro | markdownify }}
                                </p>
                            </div>
                            <!-- reports -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 my-5" style="display:table;">
                                {{ range $report_index, $report := $algoprudence.algoprudence.reports}}
                                <iframe src="{{$report.url}}" width="50%" height="594px" allow="autoplay"></iframe>
                                {{end}}
                            </div>
                        </div>
                        {{ end }}

                        <!-- Advice commission -->
                        {{if $algoprudence.normative_advice_members}}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{ i18n "normative-advice-commission"}}</h4>
                            <!-- content -->
                            {{range $member_index, $member := $algoprudence.normative_advice_members}}
                            <p
                                style="color:#005aa7; font-size:16px; font-weight:bold; margin-left:5px; margin-bottom:10px;">
                                >
                                <span style="font-size: 16px; color:#777777; font-weight:100; padding-left:5px;">
                                    {{$member.name | markdownify}}
                                </span>
                            </p>
                            {{end}}
                        </div>
                        {{end}}

                        <!-- Funded by -->
                        {{if $algoprudence.funded_by}}
                        <div style="margin-top:40px;">
                            <!-- title -->
                            <h4>{{ i18n "funded-by" }}</h4>
                            <!-- content -->
                            <div class="row">
                                {{range $funder_index, $funder := $algoprudence.funded_by}}
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <a href="{{$funder.url}}" target="_blank">
                                        <img src="{{ $funder.image | relURL }}" style="width:70%">
                                    </a>
                                </div>
                                {{end}}
                            </div>
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Description of algoprudence -->

<!-- Actions followed by this work -->
<div class="row tabcontent" id="actions_tab">
    <div class="col-lg-10 mx-auto shadow rounded-lg">
        <div class="content accordion-container-actions">
            {{ if .Params.actions }}
            {{ range $action := .Params.actions }}

            {{ $facets_for_data_attribute := "" }}
            {{ range $facet := $action.facets }}
            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
            $split_char | printf "%s" }}
            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
            $facet.value | printf "%s" }}
            {{ end }}
            <div class="py-4"></div>
            <div class="ac border-0 mx-5 mb-4 algoprudence-article" data-facets="{{$facets_for_data_attribute}}">
                <div class="ac-header grid">
                    <div class="ac-trigger p-0">
                        <div class="row justify-content-between m-0">
                            <div class="col-2 mr-4 box p-0 mt-0">
                                <img class="img-fluid about-img p-2" src="{{$action.image}}" />
                            </div>
                            <div class="col pt-3 pb-5" style="background-color: #ffffff;">
                                <div class="row align-items-center">
                                    <h4 class="mb-4 mx-3" style="color: #005aa7;">
                                        {{$action.title}}
                                    </h4>
                                </div>
                                <div class="row pl-3"
                                    style="position: absolute; bottom: 0; font-weight: 300; font-size: 15px;">
                                    {{ if $action.date }}
                                    <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                                        {{ $action.date }}
                                    </span>
                                    {{ end }}
                                    {{ range $facet := $action.facets }}
                                    {{ if $facet.hide }}
                                    {{ else }}
                                    <span style="background-color: #005aa7; color: #ffffff;"
                                        class="mr-1 mb-2 px-2 py-1 mx-1">{{ $facet.label }}</span>
                                    {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ac-panel">
                        <div class="row justify-content-between ac-text p-0">
                            <div class="col-2 mr-4">
                            </div>
                            <div class="col pt-4" style="background-color: #eef2f6;">
                                <h5>{{ i18n "description" }}</h5>
                                <p>
                                    {{$action.description | markdownify}}
                                </p>
                                {{ if $action.pdf }}
                                <h5>{{ i18n "attachment" }}</h5>
                                <embed src="{{ $action.pdf | relURL }}" width="100%" height="500px"
                                    type="application/pdf">
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4"></div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
<!-- /Actions followed by this work -->

<!-- Dicussions followed by this work -->
<div class="row tabcontent" id="discussions_tab">
    <div class="col-lg-10 mx-auto shadow rounded-lg">
        <div class="content accordion-container-discussions">
            {{ if .Params.discussions }}
            {{ range $discussion := .Params.discussions }}

            {{ $facets_for_data_attribute := "" }}
            {{ range $facet := $discussion.facets }}
            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
            $split_char | printf "%s" }}
            {{ $facets_for_data_attribute = printf "%s" $facets_for_data_attribute | printf "%s%s"
            $facet.value | printf "%s" }}
            {{ end }}
            <div class="py-4"></div>
            <div class="ac border-0 mx-5 mb-4 algoprudence-article" data-facets="{{$facets_for_data_attribute}}">
                <div class="ac-header grid">
                    <div class="ac-trigger p-0">
                        <div class="row justify-content-between m-0">
                            <div class="col-2 mr-4 box p-0 mt-0">
                                <img class="img-fluid about-img p-2" src="{{$discussion.image}}" />
                            </div>
                            <div class="col pt-3 pb-5" style="background-color: #ffffff;">
                                <div class="row align-items-center">
                                    <h4 class="mb-4 mx-3" style="color: #005aa7;">
                                        {{$discussion.title}}
                                    </h4>
                                </div>
                                <div class="row pl-3"
                                    style="position: absolute; bottom: 0; font-weight: 300; font-size: 15px;">
                                    {{ if $discussion.date }}
                                    <span style="color:#005aa7;" class="mr-1 mb-2 px-2 py-1 mx-1">
                                        {{ $discussion.date }}
                                    </span>
                                    {{ end }}
                                    {{ range $facet := $discussion.facets }}
                                    {{ if $facet.hide }}
                                    {{ else }}
                                    <span style="background-color: #005aa7; color: #ffffff;"
                                        class="mr-1 mb-2 px-2 py-1 mx-1">{{$facet.label}}</span>
                                    {{ end }}
                                    {{end}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ac-panel">
                        <div class="row justify-content-between ac-text p-0">
                            <div class="col-2 mr-4">
                            </div>
                            <div class="col pt-4" style="background-color: #eef2f6;">
                                <h5>{{ i18n "description" }}</h5>
                                <p>
                                    {{$discussion.description | markdownify}}
                                </p>
                                {{ if $discussion.pdf }}
                                <h5>{{ i18n "attachment" }}</h5>
                                <embed src="{{ $discussion.pdf | relURL }}" width="100%" height="500px"
                                    type="application/pdf">
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4"></div>
            {{end}}
            {{end}}
        </div>
    </div>
</div>
<!-- /Discussions followed by this work -->

</div>

<script>
    function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    $(document).ready(function () {
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    });

    {{ if .Params.actions }}
    new Accordion('.accordion-container-actions');
    {{ end }}

    {{ if .Params.discussions }}
    new Accordion('.accordion-container-discussions');
    {{ end }}

</script>
{{end}}