<div class="container">
  <div class="row">

    <!-- Persbericht -->
    <div class="col-md-12">
      <div class="p-5 shadow rounded-lg">
        <h3 class="mb-4 privacy" style="color: #005aa7; padding: 0 0 0 25px"> Independent commission publishes advice to Dutch municipalities on risk profiling for social welfare re-examination </h3>
        <div class="container">
          <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p style="font-weight: bold;"> THE HAGUE – On November 29, Dutch Minister of Digitalisation Alexandra van Huffelen accepted the advice report containing specific norms for the responsible utilization of algorithms. Algorithm Audit convened an independent commission of experts to provide advice aimed at preventing unfair treatment in social welfare re-examinations. The impetus for drafting this advice was the controversial risk model used by the Municipality of Rotterdam until 2021.</p>
                <p>When municipalities investigate whether recipients of social assistance is duly granted, algorithmic profiling is sometimes employed. The advisory report, prepared by representatives of the Ombudsman of Amsterdam and Rotterdam, various academics, and an alderman from Tilburg, advises against using characteristics such as ZIP code, the number of children, and literacy rate as criteria for profiling. It has been previously demonstrated that profiling in the context of social assistance can lead to discrimination. The independent commission asserts that there are also other ethical concerns associated with algorithmic profiling, as some self-learning algorithms are too complex to effectively explain decisions to citizens. The commission recommends discontinuing the use of certain machine learning algorithms.</p>
                <p>The advice is directed at all 340 Dutch municipalities. The guidance is part of the 'algoprudence' developed by Algorithm Audit in collaboration with experts and various interest groups to establish concrete norms for the responsible deployment of algorithms. NGO Algorithm Audit is an independent knowledge platform for ethical algorithms and AI, supported by the European AI&Society Fund, the SIDN Fund, and the Ministry of the Interior and Kingdom Relations.</p>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- /Persbericht -->

  </div>
</div>