
    <!-- Tab header -->
    <div class="row">
        <div class="col-lg-12 mx-auto">
            {{ $width := .Get "width" }}
            <div class="row tab">
                {{ $tab_id := .Get "tab1_id" }}
                {{ $tab_title := .Get "tab1_title" }}
                {{ if and $tab_id $tab_title }}
                <button class="col-sm-12 col-md-{{$width}} tablinks" id="{{$tab_id}}_tab_btn" onclick="openTab(event, '{{$tab_id}}_tab')">
                    <h4 class="py-3 hover-white">{{$tab_title}}</h4>
                </button>
                {{ end }}
                {{ $tab_id := .Get "tab2_id" }}
                {{ $tab_title := .Get "tab2_title" }}
                {{ if and $tab_id $tab_title }}
                <button class="col-sm-12 col-md-{{$width}} tablinks" id="{{$tab_id}}_tab_btn" onclick="openTab(event, '{{$tab_id}}_tab')">
                    <h4 class="py-3 hover-white">{{$tab_title}}</h4>
                </button>
                {{ end }}
                {{ $tab_id := .Get "tab3_id" }}
                {{ $tab_title := .Get "tab3_title" }}
                {{ if and $tab_id $tab_title }}
                <button class="col-sm-12 col-md-{{$width}} tablinks" id="{{$tab_id}}_tab_btn" onclick="openTab(event, '{{$tab_id}}_tab')">
                    <h4 class="py-3 hover-white">{{$tab_title}}</h4>
                </button>
                {{ end }}
            </div>
        </div>
    </div>
    <!-- /Tab header -->